[2014-01-30 15:46] kylestetz opened #72 "Feature: Custom Date Ranges in the Template"
@palodelincak brought up the point in issue #71 that creating a view in increments other than one-month-at-a-time is difficult, bordering on unreasonable.

I am going to move forward implementing an option that allows you to choose an arbitrary length of days to have available in the template. Here's what it could look like:

[code]

Specifying `length.days` here tells clndr "I want you to give me

[2014-04-09 10:42] nightgrey opened #92 "Destroying an CLNDR.js instance / switch an option [branch: intervals]"
Hello,

is there a way to destroy an CLNDR.js instance or switch an option and force a re-render of the calendar with other options? I'm stuck a bit.

I'm watching the browser viewport width with ````$(window).on('resize')```` and want to change

[code]

from my original plugin call to

[code]

CLNDR.js does not provide an API call for destroying an instance. Is there another way to do this?

I'm

[2014-04-23 14:41] bkenny opened #97 "Select Date Range Event"
Is there any API to provide the ability for the user to select a date range and fire an event?

[2014-10-29 11:08] redmile opened #132 "How to integrate CLNDR with Wordpress?"
Can anybody point me in the right direction please?

[2014-11-06 16:14] sn0lan opened #133 "Set date on instance of CLNDR"
In the current version you have got:

theCalendarInstance.setMonth();
theCalendarInstance.setYear();

On a project Im working on, I need to essentially do CalendarInstance.setDate(moment) or CalendarInstance.setTodayAs(moment);

I have 2 calendars beside each other (arrival and depart) and I want them to play off each other. Allowing me to stop people using dates after the arrival and also being a

[2014-11-06 16:36] lesaff opened #134 "Multiday Events issue"
Kyle, is it possible to default the endDate to be the same as the startDate if endDate is null?
That would solve the issue with mixing single and multiple day event.

[2014-11-27 13:52] kylestetz opened #136 "Seeking Collaborators for CLNDR 2.0"
I have been anxious to get working on a new version of CLNDR. It was written a year and a half ago now (!) and the code no longer reflects my standard of quality. It was also written without a clear understanding of which features would be most useful or interesting. I'm ready to try again with a much clearer picture of what it should be and how it should be put together.

Maintaining open source

[2014-12-16 21:43] asprega opened #139 "Feature: multiple constraints interval"
About the `constraints` feature, one thing that I would find very useful is the ability to provide multiple date intervals instead of just one. Is this a reasonable request?

[2014-12-29 00:40] kimda90 opened #141 "lazy loading / dynamically changing days array"
Hello,

I'm trying to implement a lazy loading for a week view, by having a scrolleable div with 21 days, and only 7 visible, alert me when the view is near the start or the end of the scroll.

Is there a way to append new days (before or after) in the days array of the clndr object?

Thanks for all.

[2015-01-04 17:17] webteckie opened #142 "Out of place comment?"
In the readme overview there's the following -- I think the first two lines do not belong?

  // show the numbers of days in months adjacent to the current month
  // (and populate them with their events). defaults to true.
  // CLNDR can accept events lasting more than one day!
  // just pass in the multiDayEvents option and specify what the start and
  // end fields are called within your event

[2015-01-05 16:07] kylestetz commented on #142
I was confused for a bit until I realized you were in the intervals branch! Thanks.

[2015-01-05 16:07] #142 closed

[2015-01-05 16:13] kylestetz commented on #141
Unfortunately clndr isn't built this way— calling `render` destroys any previous markup you had.

The only way I can think of to explore this would be to have a clndr instance hiding somewhere on the page, controlled via the API, and grabbing the markup output from it after it renders using the `doneRendering` callback. That would allow you to lazily render other months and append them to the actu

[2015-01-06 15:34] ayyobro opened #143 "Dates are not appearing on the correct days, just the current day only."
Was using your dates for testing on first build:

  var currentMonth = moment().format('YYYY-MM');
  var nextMonth    = moment().add('month', 1).format('YYYY-MM');

  var eventArray = [
    { date: currentMonth + '-' + '10', title: 'Persian Kitten Auction', location: 'Center for Beautiful Cats' },
    { date: currentMonth + '-' + '19', title: 'Cat Frisbee', location: 'Jefferson Park' },
    { date

[2015-01-06 16:00] kylestetz commented on #143
Ok, the demo that comes with the repo is working fine for me in Chrome and Firefox on OSX.

Are you saying that you _do_ see a console log, but that the event dates are wrong? Or are you not seeing a console log at all?

The demo has this bit of code in clndr's setup:
[code]

Do you have that? It sounds like clndr is working fine since you are seeing the visual result correctly.

[2015-01-06 21:07] ayyobro commented on #143
I do see a console log coming through, yes. It was just only working when I clicked today's date and it showed all dates regardless of specified date string. I did end up fixing this because I noticed that when I had copied some of your examples over there was a multiday events parameter filled. Once I took this away the events went to their respective days.

Thanks!

[2015-01-06 21:07] #143 closed

[2015-01-14 04:02] elidupuis commented on #136
I'm interested in helping out—even if it's only testing the API.

[2015-01-14 18:12] smohadjer opened #144 "Calendar days show in wrong order when moment locale is changed"
I have a calendar with a six-day week (not rendering Sundays) where week starts on Monday and all is good as you see here:
http://sandbox.saeidmohadjer.com/app/calendar_handlebars.html?locale=en

However when I set moment.js's locale to "de" to render the calendar in German the days show in a wrong order (offset by one day) as you see here:
http://sandbox.saeidmohadjer.com/app/calendar_handlebars.

[2015-01-15 13:15] looping84 opened #145 "how to set different events with different color?"
I have many events ,  and need set different background。

how to do it?

[2015-01-15 13:24] looping84 commented on #145
I found solution here #124

thanks

[2015-01-15 13:24] #145 closed

[2015-01-16 11:40] looping84 opened #146 "how to add animation when go to next month?"
I can't find api  about animation.

[2015-01-19 09:50] smohadjer commented on #144
I stopped using clndr.js' "daysOfTheWeek" and "weekOffset" and instead used moment's isoWeekday() method (in combination with moment locale). This fixed the problem!

[2015-01-19 09:50] #144 closed

[2015-01-19 13:24] kylestetz commented on #146
Hey @looping84, unfortunately one of the downsides to using template rendering is that it's difficult to incorporate animation. This is because the entire DOM tree for the calendar is replaced each time it is rendered.

That said, it is possible to do if you create your own controls and use clndr's API to call `next`, `previous` etc. after you've completed your own animations (e.g. fading to white

[2015-01-19 13:24] #146 closed

[2015-01-19 13:28] kylestetz commented on #144
Sorry for not responding sooner— glad you were able to figure it out!

In case anyone else gets stuck on this one: each language configuration in moment.js decides which day of the week comes first— Sunday or Monday— so if you don't configure anything in clndr it will use moment's settings. `daysOfTheWeek` and `weekOffset` are fine if you know you're only ever dealing with one language, but it get

[2015-01-19 13:43] smohadjer commented on #144
Perhaps it won't be a bad idea to put your comment "daysOfTheWeek and weekOffset are fine if you know you're only ever dealing with one language" as a warning above those parameters in the doc. They pushed me in the wrong direction and it took me a while to figure out that using moment's locale is the right solution for language customizations. I think most users would try to use them as first cho

[2015-01-19 13:45] kylestetz commented on #144
Thanks for the suggestion @smohadjer... It is covered in the [Internationalization](https://github.com/kylestetz/CLNDR#internationalization) section, but I realize that it's kind of buried and I'll make reference to it up top in the Usage section.

Cheers!

[2015-01-19 13:49] smohadjer commented on #144
This line in doc above "daysOfTheWeek" was the one that threw me off the right path:
// (use in conjunction with weekOffset to change the starting day to Monday)

The only reason I can think of that someone wants to change starting day to Monday is localization, in that case using moment's isoWeekday() is a far better choice.

[2015-01-19 13:52] kylestetz commented on #144
Got it, thanks for clarifying!

[2015-01-19 13:55] smohadjer commented on #144
Btw, I searched for a donate button on your site, but didn't find any!

[2015-01-19 14:01] kylestetz commented on #144
I'm not taking any, but I appreciate the thought :grin:

[2015-01-21 13:25] kylestetz commented on #134
I've been going back and forth on this one in my mind and I think I am finally coming around to it. Sorry for the very long, very silent stretch there.

[2015-01-21 13:31] kylestetz commented on #134
My hesitation has been that multiday events are going to have `start` and `end` kind of properties, but there is ambiguity around whether or not a single day event would have `start` or `end` and not `date`. However, if you're creating an events system and for some reason putting the date in `start` but not `end` signifies a single-day event, this will work for you.

[2015-01-21 14:29] kylestetz commented on #134
This has been implemented, along with a new `multiDayEvents.singleDay` configuration that allows you to explicitly mix single- and multi-day events.

[2015-01-21 14:29] #134 closed

[2015-01-21 20:20] ileska opened #147 "annual event"
Hello! You made a great plugin! There is one thing i want to ask. Is it possible to add annual event, like birthday reminder? I would not want to add a variety of events each year.

[2015-01-21 20:30] kylestetz commented on #147
Hey, thanks! Clndr does not support recurring events— the philosophy is that clndr is for _viewing_ your events, not _modifying_ them.

This has been discussed before in issues #70 and #118. Closing this issue, but feel free to ask any clarifying questions.

[2015-01-21 20:30] #147 closed

[2015-01-29 16:43] maneeshpal commented on #136
removing the external templating dependancy is a great step moving forward.

[2015-02-03 10:21] friedemannsommer opened #149 "CLNDR renders 1 day offset"
If i change the locale of momentjs, CLNDR renders every date with 1 day offset.

Tested with following Code (in Google Chrome 40.0.2214.93):

[code]

[2015-02-05 20:42] kylestetz commented on #149
Yep, this is because you are setting the `weekOffset` field to `1`. If you are in _english_ this is probably what you want, since you are trying to get the weeks to begin on Monday. But moment's `de` language setting starts the week off on Monday _already_, meaning that your `weekOffset` shifts it from Monday to Tuesday.

This is only an issue because moment.js's language settings declare which da

[2015-02-05 20:42] #149 closed

[2015-02-08 22:40] miljan-aleksic commented on #136
Hi, I knew about this plugin time ago and recently used it for a project. Not forcing you with own styles and giving the template freedom it's awesome! Thank you for the hard work, it literally saved the project.

I would like to collaborate on the new version, let me know if you are ready to start anytime soon. I could also take care of the build process and/or any automated task if you decide to

[2015-02-09 15:01] kylestetz commented on #136
That's great to hear @miljan-aleksic! Your involvement would be awesome. I've been using gulp for everything and will definitely be using it for the new build— I'll have to tap your brain for ways to make contribution easier using it.

I plan to dig into the new build in early March. I will be as transparent as possible about the process and I'll be sure to loop you all into the decision making wh

[2015-02-09 15:02] kylestetz opened #151 "Ideas and Suggestions for CLNDR 2.0"
### clndr 2.0 is happening

I am going to start the process in March. No idea how long it will take, but the result will be a brand new version of clndr.js. Here are a few things I can be certain of:

- The new version will not be backwards-compatible and will feature a more semantic API
- The idea of a "month" will go away in favor of _any interval of time_, allowing you to make a one-day view, a

[2015-02-10 21:27] steilerDev commented on #151
Make it mobile friendly! (I actually hacked css and js to enable some kind of mobile friendly view in the current version, but it is not optimal at all)

Unfortunately I am not that skilled in JS at all so I would not be useful during the development, but I am happy to test and integrate the library in my projects!

[2015-02-10 21:30] kylestetz commented on #151
@steilerDev thanks for the suggestion— my thought was that binding on tap when tap is available would be a step in the right direction. What other aspects do you think need some attention for mobile? Since the views and CSS are user-provided, it's on the developer to write styles that work on a device.

[2015-02-12 15:25] friedemannsommer commented on #149
I still have that issue with following code.

[code]

If i set ```moment``` to German locale CLNDR renders a offset of -1 day.
[code]
![clndr-with-issue-2](https://cloud.githubusercontent.com/assets/5468809/6170184/f93b811a-b2d2-11e4-832d-bb1ae00753bb.png)

[code]
![clndr-without-issue](https://cloud.githubusercontent.com/assets/5468809/6170183/f93ac0fe-b2d2-11e4-875c-2cd0049fddfa.png)

[2015-02-12 15:38] friedemannsommer commented on #149
The solution for this issue is simple:

[code]

[2015-02-14 14:00] stuplum commented on #151
I think removing jquery as a dependency would be a good goal, I am looking at using version 1 in an angularjs project and whilst jquery plays nice with angular, its a dependency I don't really want. If much of the view layer is handled by the developer I'm not sure why jQuery is needed although I have not looked in depth at what is going on under the covers. I would build version 2 as modular as p

[2015-02-16 13:31] kylestetz commented on #151
@stuplum that's interesting. Dependencies are definitely a major complaint, but jQuery is the one I hear complaints about the least! I was going to look into stealing the `_.template` functionality so that underscore/lodash could go away. Moment, as you have pointed out, is here to stay.

There's a delicate balance here that we need to strike in v2.0. I do _not_ under any circumstances want to be

[2015-02-16 13:43] miljan-aleksic commented on #151
I have successfully implemented [this](https://github.com/uikit/uikit/blob/master/src/js/core/core.js#L320) simple template function into clndr by moving the js function from the template string to the render function as it does not support advanced logic statements (only if and foreach), but that's enough if the data is prepared before.

[2015-02-16 13:46] kylestetz commented on #151
Awesome @miljan-aleksic, that's very encouraging.

[2015-02-19 07:54] arvi commented on #151
I would really love to use this in a meteor app. However, I can't seem to make it work in meteor. I'm not sure if it's because of meteor's blaze templating or because of how the library was built with the checking if jquery or moment is defined... I'm a novice at this... but I hope this library is as easy as others to just package for meteor. Already spent whole day trying to make it work...packag

[2015-02-20 00:56] adrianmc commented on #151
@arvi
I'm also trying to make this work in Meteor. I've spent at least 6 hours trying to make this work and it's quite frustrating. Simply applying spacebars does not work. There also seems to be no exposed variables for us to watch reactively. There does seem to be a daysArray variable that has leaked into the global namespace, but I think this is a bug. Nevertheless, it's not reliable because th

[2015-02-20 10:52] stuplum commented on #151
I'm pretty sure the leaked daysArray is a bug as well. I have patched it locally whilst I'm building an angular directive around it.

[2015-02-20 13:40] kylestetz commented on #151
Oof, first off, thanks for the heads up about the leaky `daysArray` variable, fixing that now.

I'm sorry to hear about your Meteor troubles. The modular architecture we have in mind for v2.0 aims to solve this problem. Unfortunately clndr was written as a jQuery plugin, and supporting myriad MVC frameworks was not an initial goal of the project.

What I need from you now is a sense of which piece

[2015-02-25 21:52] zomars opened #152 "Can't pass an object to dateParameter?"
I'm trying to use this plugin to get events from a Google Calendar via de the API v3, this is my json, but I can't set the date parameter because it's inside an array, I've tried to put it like this:

dateParameter: 'start.dateTime',

and

dateParameter: 'start[0]',

with no results, is there a way I can acomplish this? any help is deeply appreciated, this is an extract of the output from the Goog

[2015-02-26 18:35] kylestetz commented on #152
Yes, `dateParameter: 'start.dateTime'` and `dateParameter: 'start[0]'` are going to fail, since clndr can't arbitrarily reach into your event objects that way. Instead you'll need to take the result of your Google Calendar request and create a new array with formatting that clndr can understand. This isn't a big deal:

[code]

[2015-02-26 18:35] #152 closed

[2015-02-26 18:41] zomars commented on #152
Thank you for the response, I came up with a similar approach but this seems better coded. Keep up the good work and thanks again.

[2015-03-03 16:35] GuilhermeLessa opened #153 "Repeat Last Day Of Month"
When I put a multy day event that spans two months he has problems with the days of division ( 28 or 29 or 30 or 31 and day 01 of the next month) . I believe it is the problem of repetition of the last day of the month in the early days adjacents .

Its correct , not to be more 29, 30 , 31 (so next month(adjacent)) 31 , 1, 2 ...

Understand?

[2015-03-03 16:41] GuilhermeLessa commented on #153
Example de problems:
multi-day event 2015-03-27 and 2015-04-03

highlight so happens between 2015-03-28 and 2015-04-02

[2015-03-06 11:55] kylestetz commented on #151
Further thoughts on this @arvi, @adrianmc or @stuplum? We are going to begin architectural planning for 2.0 on Monday. Did you figure out a solution to your Meteor/Angular issues or, if not, do you have ideas about what it should allow you to do?

[2015-03-06 13:38] stuplum commented on #151
I've been spending most of my time around creating a tested/able directive for consuming clndr as it currently stands.

I am considering creating a patched version that removed the jquery dependency completely, as I don't think it will be required at all for angular. It will be interesting to see whats left when the view logic is removed and just the clndr module with an api is left. I am a bit re

[2015-03-06 13:38] arvi commented on #151
Hi Kyle. Unfortunately, I switched to using fullcalendar due to project's deadline. I think the issue is with Meteor's Blaze Templating since when I tried patterning CLNDR template to Blaze/Spacebar syntax http://meteorcapture.com/spacebars/,  rendering does not work.

I hope the next version would be template-agnostic. :)

[2015-03-06 13:45] kylestetz commented on #151
@stuplum I hear you about the formatted months. It would be my preference as well but at this point it's a big BC break to change it. Open to your ideas about what else should be passed into the template!

Can you elaborate on that last point about a clndr specific date object? I'm not sure I understand.

@arvi bummer. Did you see my [note about the `render` function](https://github.com/kylestetz/

[2015-03-06 14:03] stuplum commented on #151
@kylestetz The clndr specific date object would be a wrapper class around any moment object. It would expose it's own methods and properties (that may or may not have the same interface as moment), but it would allow you to swap out moment for another library or even a custom implementation in the future. I guess it's only important if you were unsure if moment was going to hang around or not.

[2015-03-06 14:05] kylestetz commented on #151
Ah, interesting. Moment is _not_ going anywhere, but I'll keep this in mind as we plan the architecture and see if this might benefit us in some other way. Thanks!

[2015-03-06 14:41] arvi commented on #151
@kylestetz Oh okay. Sorry, I missed reading that comment. I'll try it out and see if it'll work. :)

[2015-03-09 13:25] kylestetz commented on #139
I'm assuming you worked out a solution to this so I'm closing the issue. Feel free to open it again if you still have questions.

[2015-03-09 13:25] #139 closed

[2015-03-09 13:25] kylestetz opened #155 "Plans for CLNDR 2.0"
Building on our desire to [collaborate with](https://github.com/kylestetz/CLNDR/issues/136) and [seek feedback from](https://github.com/kylestetz/CLNDR/issues/151) the community, we're going to outline what the future of CLNDR 2.0 looks like based on some plans we've hashed out.

I've brought @jsumnersmith onto the project as a collaborator— he and I are working through the new version together an

[2015-03-09 13:27] kylestetz commented on #136
Following up on our discussions, you can read about the first steps toward the next version in #155. Development will be starting soon!

[2015-03-09 13:27] kylestetz commented on #151
Following up on our discussions, you can read about the first steps toward the next version in #155. Development will be starting soon!

[2015-03-09 14:49] elidupuis commented on #155
Really great to hear the core will be split out into its own module! So much more flexibility :+1:

[2015-03-09 15:39] asprega commented on #139
Oh yes, sorry I didn't get back to you. I eventually opted for dummy events as suggested. Thanks!

[2015-03-09 15:45] kylestetz commented on #141
Closing this, feel free to open it back up if you have any other questions or thoughts.

[2015-03-09 15:45] #141 closed

[2015-03-10 18:56] alanguir commented on #155
I'm being pulled towards CLNDR as a solution for my own site. It's a hybrid static jekyll site with a thin node server for handling a few specific routes, so I'd be happy to help contribute and test v2

[2015-03-10 19:03] kylestetz commented on #155
Awesome @alanguir! The next step is for us to architect gregorian.js, at which point we'll be looking for feedback on the API (which clndr will inherit).

[2015-03-11 11:57] kylestetz commented on #133
Closing this, feel free to open it back up if you're still looking for a solution.

[2015-03-11 11:57] #133 closed

[2015-03-11 16:33] daviestar opened #156 "Previous and Next arrows on calendar and parent element"
When trying to quickly hack a datepicker together, I noticed an issue with the previous and next arrows on the calendar.

I'm creating a function where clicking anywhere on the document will close the datepicker, except on the calendar itself.

Consider the following code (where a clndr is wrapped in a div `#event-calendar`):

[code]

This works fine for all cases except the previous and next arro

[2015-03-11 19:22] kylestetz commented on #156
Your fix will work just fine... The reason it's getting weird is because the next and previous buttons in a clndr instance cause the DOM to be destroyed and re-rendered. By the time your event has fired, the next and previous buttons have been removed from the DOM and, while you can still inspect them, they have no parents! This is why you are still able to use `$.hasClass` even though `$.parents`

[2015-03-11 19:22] #156 closed

[2015-03-12 10:16] daviestar commented on #156
Ah, that makes perfect sense.  Thanks for the explanation :)

[2015-03-12 18:27] GuilhermeLessa commented on #153
Any way to fix this repetition of the last day?

[2015-03-13 02:29] macoacero opened #157 "Questions"
I have two questions:
1. Is it possible to create two or more types of events with different styles?
2. Is it possible to display the selected day?

Thank You

[2015-03-17 19:49] L0G1C commented on #136
I've recently been evaluating CLNDR as a solution for for a project and would love to see/be a part of this new evolution of CLNDR!

[2015-03-18 15:35] GigaMedios opened #158 "The entire day on the calendar as link URL"
I need a simple calendar with only single event / day

Based on this post https://github.com/kylestetz/CLNDR/issues/20  i want my events to go to a scpecified URL when they are clicked.

Unfortunately the code from the post won't work for me, could you provide a working code. thanks

[2015-03-18 21:36] L0G1C opened #159 "IE issue"
Hey guys,

I could really use some help. Almost done implementing my calendar but running into an issue in IE. Here is my post on stack overflow about it:

http://stackoverflow.com/questions/29133172/clndr-js-somehow-not-passing-full-days-events-data-to-template-only-in-ie

[2015-03-19 10:25] ikhan009 commented on #72
Hi kylestetz
there is little confusion on mini calander.
1) how i set event for future date
2) there i want to show popup and user can select campaign and schedule on that date
3) when click on any event it show monthwise event, i need day wise event to show, down is
screanshot.
http://screencast.com/t/GCEZLzksQzu

hope you will guide me.

[2015-03-19 12:07] kylestetz commented on #159
Hey, I can run a test on IE10 later today, but for now— your date format `YYYY-M-D` is not a valid format (you want to stick with [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601). Your best shot is to use the format `YYYY-MM-DD`, where single digits are padded with zeros. So, rather than `2015-4-1`, it would be `2015-04-01`.

Could be a totally different issue, but it's worth checking out.

[2015-03-19 13:25] L0G1C commented on #159
Wow man, Thanks so much for the quick answer. Right as I came back in to work xD

Yeah that did it, fixed the issue on IE for me. I didn't even think about that man. sigh..so glad haha. Thanks for the help!

[2015-03-19 13:43] kylestetz commented on #159
:+1:

[2015-03-19 13:43] #159 closed

[2015-03-22 15:41] krokofant commented on #151
Is CLNDR currently capable of carrying end-dates for events? This is one thing I'm missing for my day-view. I specifically want to be able to display the event duration.

I love your work. Awesome stuff!
![day view](https://cloud.githubusercontent.com/assets/5908498/6769993/389a8a48-d0b2-11e4-8b51-31bca0dcd1a0.png)

[2015-03-26 12:21] kylestetz commented on #158
The idea behind clndr is that you supply your own HTML template that uses the data however you need it to— unfortunately I cannot write it for you. I would be happy to take a look at some markup if you are running into a bug, but the issue you linked to has plenty of information to get you started.

Sorry I couldn't be more helpful! Please open a new issue if you have a more specific question.

[2015-03-26 12:21] #158 closed

[2015-03-26 12:31] kylestetz commented on #157
For events with different styles, see #6. I am not sure what you mean when you say "display the selected day", but #59 might be helpful.

[2015-03-27 03:38] webteckie opened #161 "Add CLNDR to CDNJS"
Consider adding CLNDR to https://cdnjs.com/

[2015-04-03 14:47] L0G1C opened #162 "Get lowest and highest "visible" adjacent month dates"
So I'm making some calculations on a week by week basis. And there's obviously some weeks where the previous or next month "bleed" into the current month. This week is an example:
Sun March 29th - Sat April 4th

So the CLNDR does a good job of showing the adjacent months, but I want to pass the "first day" of the visible month to my ajax call to do the calculations I need. So for the month of Apri

[2015-04-07 03:03] zukilover opened #163 "Conditional Template"
Is there any way we could use conditional template? In my case, I've got some months with empty event, I'd like to use a custom template for those empty months.

[2015-04-07 03:18] zukilover commented on #163
Turns out the solution was so simple, all I need to do is this conditional inside my custom template:
[code]

[2015-04-07 03:18] #163 closed

[2015-04-07 19:44] L0G1C opened #164 "Current Date button?"
I'm trying to figure out how the "next month" and "previous" month buttons work, so that I can add a button to go to "today". If someone has gone back to 2 years ago and wants to get back to present datetime, currently they have to click on "next" arrow  24 times? Is there any built-in way to create a "current date" button?

[2015-04-07 19:47] kylestetz commented on #164
Yep, just add the class `clndr-today-button` to any button or link within your clndr template and it will automatically send you back to the current month.

The clndr example page in the repo contains a template with a "today" button, which you can find in [index.html](https://github.com/kylestetz/CLNDR/blob/master/example/index.html#L31).

[2015-04-07 19:47] #164 closed

[2015-04-15 14:14] tuelsch opened #165 "Localization and browserify"
Is it possible that clndr cannot be localized if used in a browserify setting because clndr is requiring its own instance of moment.js which can not be configured before initialization?

See http://stackoverflow.com/questions/29650119/localize-clndr-in-a-browserify-bundle for further description of the issue.

[2015-04-16 08:27] tuelsch commented on #165
I forked the project and created a workaround for my problem. It's a one liner and if you are interested, I can create a pull request.

[code]

[2015-04-20 21:55] itsfranhere opened #166 "Link to URL when event is clicked (asp.net)"
<p>I want my events to go to a specified URL when they are clicked.
Here is what I have:</p>

$(document).ready(function () {

    $('#calendar').clndr({
        template: $('#calendar-template').html(),
        events: [
            { date: '2015-04-09', title: 'CLNDR GitHub Page Finished', url: 'http://www.google.com'

             },
             { date: '2015-04-19', title: 'CLNDR GitHub Page

[2015-04-22 00:43] babbelnedd opened #167 "Events all on same day when using start/end"
I want to show the amounts of events per day in each *day-column*. I always get the amount of **all** events on the current date column. When I just use `date` instead of `start` and `end` everything works as expected.

I don't want to use multiday events. Example

    start: 2015-04-10 06:30     end:2015-04-10 07:30

Am I doin somethin wrong here? When I debug my `day` object it really contains a

[2015-04-22 01:22] babbelnedd opened #168 "Disable animations"
Is it possible to disable animations?

[2015-04-22 01:56] SchadLucas opened #169 "Custom Classes per single event?"
Nvm.. too tired last night ^^

[2015-04-22 10:07] #169 closed

[2015-04-22 12:07] flaviopira opened #170 "lotsOfEvents help in HTML"
First I would like to say that the code is fantastic, Congratulations!

I have a question I imagine it to be simple, but I'm not getting.

In javascript everything was understood and the calendar itself is ok, but when I click on date to view events, ss only days and days with start and end can not separate this in html, I tried to use ASP, but it fails.

Could you help me, follows the code?

Than

[2015-04-23 20:00] robclancy commented on #166
This is what I have...

[code]

[2015-04-23 21:42] franzxzxzx commented on #166
# Thanks for your help! I appreciate that :)
I've already sorted it out. I hope this helps you too :)

`clickEvents: {
            click: function (target) {
                console.log(target);
                var output = "";
                for (i = 0; i < target.events.length; i++) {
                    output += " -> " + target.events[i].title + " <br /> ";
                }
                /

[2015-04-25 02:23] lesaff commented on #134
Thanks, sorry for the late reply. Really appreciate what you've done here.

[2015-05-10 16:31] LarkR opened #171 "List view only?"
Hi I'm trying to get the calendar to display the list view only like it shows on the right side of the large calendar on main clndr.js site:

http://kylestetz.github.io/CLNDR/

In other words, I don't want the grid calendar to display at all.

It works--until I check it on Safari. When I inspect the element on Safari, the "event-items" are non-existent. But it works perfectly on both Chrome and Fi

[2015-05-29 09:17] mqliutie opened #173 "how to make yesterday is"

[2015-05-29 09:21] mqliutie commented on #173
For example, I signed in yesterday, I want to the date yesterday in the table let  is active. how to make it?thanks.

[2015-05-31 14:04] #173 closed

[2015-06-03 17:08] ShinShinman opened #174 "Scroll by number of weeks (not by month)"
Hi.
Is it possible to scroll calendar by several weeks?
I've found this `moment().add(21, 'days');` but can't get it to work.

Thanks.
Olaf

[2015-06-05 01:21] mikegioia commented on #136
@kylestetz has there been any movement on CLNDR v2? I have time I can contribute over the next weeks/months to help.

[2015-06-07 07:20] KevinChanK opened #175 "Display event title in Calendar..."
I want display the event title in the calendar, how can I do...?
thank you very much for your help...

[2015-06-08 02:46] #175 closed

[2015-06-15 12:23] kylestetz commented on #136
@mikegioia no movement yet. I have not been prioritizing it, as I've been quite busy. I'm not exactly sure when I'll have the space to work through this stuff— thanks for offering your time, I will let you all know when development picks up!

[2015-06-15 15:29] mikegioia commented on #136
@kylestetz Thanks! I'm actually at a point with my full-time job where we need a calendar plugin like CLNDR but with the ability to do 2 (or more) week intervals, instead of only having the month as an option.

I know this was planned in your v2 announcement, but I'm debating now whether to fork CLNDR and implement that, or to just write it from scratch. Are you to open to pull requests for things

[2015-06-15 15:33] kylestetz commented on #136
@mikegioia have a look at the [intervals branch](https://github.com/kylestetz/CLNDR/tree/intervals), which is my attempt at exactly that. #72 will give you a sense of the usage. It is stable with the exception of the `eventsThisInterval`, `eventsNextInterval`, etc. arrays that are handed to the template. I would welcome any updates on that branch in the mean time— I have no intention to merge it,

[2015-06-15 15:38] mikegioia commented on #136
Thanks @kylestetz I'll check that branch out first, probably this week. I see that it's a significant amount of commits behind master. Is there any particular reason why, or is it not safe to merge master in currently? Regardless, I'll operate from that branch for the time being and see what I can add.

[2015-06-15 16:01] kylestetz commented on #136
I successfully refactored the project to work with any interval of time, but I wasn't happy with the direction the codebase was headed in, and decided my energy would be spent better writing it over again instead of merging it. Unfortunately I made this decision a year ago and have yet to follow through on it. Such is the nature of open source software.

It's not ideal, but it will work in a pinch

[2015-06-18 14:34] mikegioia commented on #136
@kylestetz I forked the repo and started adding to issues to my fork (https://github.com/mikegioia/CLNDR/issues). Lemme know if you'd prefer I keep these issues on your repo. I can't imagine there will be that many.

Either way, I'm planning to make modifications to the intervals branch only. I do feel that there is a better way (in general) to do a calendar like CLNDR without it being 44kb, but I

[2015-06-18 19:39] mikegioia commented on #136
@kylestetz Sorry for the email blast, but I think I have a working version of the intervals branch running, which honestly very little updates to your branch. If you pull https://github.com/mikegioia/CLNDR/tree/intervals and run the example/index.html file, you'll see I modifed .cal2 and added .cal3. This shows two examples of using a 2-week, and 2-month interval. All of the same events are used a

[2015-06-18 19:40] kylestetz commented on #136
Making a new issue for this discussion!

[2015-06-18 19:43] kylestetz opened #178 "What happens to the intervals branch?"
Thanks to @mikegioia the intervals branch has been fixed up (it's at `v1.2.0`).

Merging that with the current branch will _not_ be straightforward, since two new features have been added since then, along with a few bug fixes and updates.

I'm all for merging the changes back into the intervals branch on this repo, and Mike if you're up for it I would support you in trying to merge that work into

[2015-06-18 19:46] mikegioia commented on #178
Ok, I'll try merging master in to intervals in my local version.

[2015-06-18 19:48] kylestetz commented on #178
Awesome. If it's going well I am happy to give you commit privileges in this repo!

[2015-06-19 14:21] mikegioia commented on #178
Hey Kyle, I just sent the pull request off. Everything looks to be good, but it probably should be reviewed at some pt. I'd love commit privileges. I have a feeling since we're incorporating this into our software product, that I'll be making minor updates here and there. I could run them past you here, or just branch off this repo.

[2015-06-19 14:23] kylestetz commented on #178
Amazing!! I might not be able to review it today, but I will take a look as soon as I can.

:beers:

[2015-06-22 14:27] mikegioia opened #181 "Merge outstanding pull requests"
I'm adding this as a question, but I'd be happy to merge the remaining pull requests. I have to do it in my fork at some point, but it would be cleaner to merge them in from this repo. Let me know, however I'd need commit access to the repo.

[2015-06-22 18:33] jsumnersmith opened #182 "When using with Browserify, it requires modular assets (jQuery and Moment)"
When trying to run the latest version of CLNDR (1.2.10) using Browserify, I was unable to mix a modularized CLNDR plugin with global jQuery and moment (which are brought in from other parts of my application).

[2015-06-25 20:02] mikegioia commented on #174
@ShinShinman Hi Olaf, you can now do this with the current release of CLNDR. The configuration would look like this:

[code]
This would create a 3-week calendar and scroll 3 weeks at a time. If `interval` was 7 then it would scroll 1 week at a time.

[2015-06-25 20:05] mikegioia commented on #171
@LarkR would you be able to pull the latest from #master and try this again in Safari? I'll run the tests file in Safari when I get home but I just want to verify that it's still an issue.

One test you could run would be to add:
[code]
from within your template to see if any events in fact are in the register.

[2015-06-25 20:21] mikegioia opened #184 "Update docs with new lengthOfTime config settings"
This needs documentation

[2015-06-25 21:38] mikegioia commented on #132
I'm closing this out as it seems stale. Please feel free to message here if this issue is still open!

[2015-06-25 21:38] #132 closed

[2015-06-25 21:43] mikegioia commented on #166
Closing this out.

[2015-06-25 21:43] #166 closed

[2015-06-25 21:43] mikegioia commented on #168
@babbelnedd which animations are you referring to?

[2015-06-25 21:48] mikegioia commented on #165
This may be merged with #182 but I'll check it out further once I get browserify running with CLNDR and it's dependencies. I think there's a way to do it without needing the `options.moment` but I'll report back.

[2015-06-25 23:10] babbelnedd commented on #168
To be honest: I can't remeber. I've stopped working on the project where I've used clndr.

[2015-06-26 03:00] #168 closed

[2015-06-26 03:03] mikegioia commented on #170
@flaviopira is this still an open problem or were you able to resolve it?

If not, could you please clarify what you mean by:

What particularly doesn't work?

[2015-06-26 03:05] mikegioia commented on #153
@GuilhermeLessa is there any way you could provide an example configuration and possibly even a screenshot of the problem you're describing? The sample config will help me try to replicate it easier, but I'm not entirely sure what is repeating.

[2015-06-26 07:49] ShinShinman commented on #174
Great! Thanks a lot.

[2015-06-26 09:34] tuelsch commented on #165
CLNDR could be shimmed so it uses the global scope references, but if jQuery and moment both are being bundled, there is no need to add jQuery and moment to the global scope, which would be nice.

[2015-06-26 12:03] #174 closed

[2015-06-26 13:10] mikegioia commented on #184
Update the changelog and version when the final PR is merged in.

[2015-06-26 13:11] mikegioia commented on #178
This is now merged into master

[2015-06-26 13:11] #178 closed

[2015-06-26 14:29] #181 closed

[2015-06-26 14:36] arnodeclercq opened #185 "Next & previous month not working correctly with today"
Hi,

The next and previous months doesn't seem to change when using the today button.
First I navigate to another month using the next or previous button, then I use the today button to go back to the current month. When I now use the next or previous month it goes to the next month of the one that was shown before clicking the today button.

Example:
Current month is June.
I navigate with next to

[2015-06-26 14:46] #184 closed

[2015-06-26 14:48] mikegioia commented on #185
I'll check this out over the weekend, but thanks for the details. There's probably something weird in the config if it works in index but not test.

[2015-06-26 14:50] mikegioia commented on #167
`day.events` should contain only the events for that particular day, regardless of multi-day. Are you sure all of your events aren't landing on the same day? If the `date` field on the events is malformed they could all get added for the current day.

Otherwise, is there a config object (with events) that you could send me to recreate the issue?

[2015-06-26 14:52] mikegioia commented on #162
This is interesting. Just to clarify, do you mean some way to get the first and last rendered day from the `.clndr()` object? Normally I'd just say exactly what you suggest: `$('#cal').first('.day')...` or something, but it's not nice. Since you have full control over the view, you could also set this info into the data- attribute on the calendar from within the view. Otherwise, I don't see a real

[2015-06-26 14:55] mikegioia opened #187 "Add destroy() method"
The class should have a way to destroy a CLNDR instance, optionally to destroy the DOM inside as well. This would allow for re-rendering of the calendar with new options.

[2015-06-26 14:55] mikegioia commented on #92
I'm going to add a .destroy() method to the CLNDR class. This would allow the `.clndr(options)` to re-render a destroyed calendar.

Optionally, you can have the DOM cleared out too. I'm going to close this issue as it's replaced now with #187.

[2015-06-26 14:55] #92 closed

[2015-06-26 15:06] mikegioia commented on #97
I have to agree here, I don't think adding click/drag to select multiple dates is worth the effort. It should be up to the end-user to define the click behavior for something like multi-selection.

The best thing I could see being incorporated into CLNDR would be to have an option like `allowMultiSelection` or something, where CLNDR adds classes to the days based on the user's selections. So if da

[2015-06-26 17:25] Maclanahan opened #188 "Re-Rendering causes click events to stop working."
I'm setting up a calendar system that switches out events depending on the the place selected.

I've run into an issue when re-rendering the calendar my click events stops working.

This is the error chrome prints:
//Uncaught TypeError: Cannot read property 'format' of undefined//

It refers to line 707 in the code.
Before I re-render, my click events still work like a charm.
If I just call mycale

[2015-06-26 17:47] mikegioia commented on #188
How are you going about re-rendering the calendar?

[2015-06-27 05:20] chrisyeung1121 commented on #136
Hi all, I have been using Clndr for a few weeks now and loving it. One feature would be great is if there can be custom classes to the calendar. So instead of just having 'event' and 'disabled' class, we can also have other user-defined classes. I use it for a rental platform and sometimes I need to show on the calendar that it's fully-occupied, half-day occupied or etc.

Thanks!

[2015-07-01 10:13] kevin93w opened #189 "IE not rendering template multi-events correctly"
Hi,

Recently I used CLNDR for a project mine, where I needed to show three small calendar views of the current and upcoming two months. Because I also needed support for multi-events, I modified the code (template and css) to support this. This works great in all browsers, except for IE where the event gets repeated multiple times and I can't get my hand at why IE is doing this. Do you guys have

[2015-07-01 11:55] mikegioia commented on #189
@kevin93w Would you be able to provide the events array too? Even is a jsfiddle or paste dump would be good, I just want to run the same thing you are.

[2015-07-01 12:53] kevin93w commented on #189
@mikegioia Sure mike, I receive the events from an AJAX request and pass the events into the function. Here is a json example of how the events array could look like:

[
    {
        "date": "2015-07-01",
        "id": "57",
        "type": "consultation"
    }, {
        "date": "2015-07-02",
        "id": "58",
        "type": "consultation"
    }, {
        "date": "2015-07-03",
        "id":

[2015-07-01 13:00] kylestetz commented on #189
@kevin93w what versions of jQuery, underscore, and moment are you using? Moment has had some problems in the past with IE support, and you will need to be on the `1.x` branch of jQuery (jQuery `2.x` does not support IE <= 8).

Please also include the version of clndr.js you're using, since `1.2.12` was just put out last week.

[2015-07-01 13:03] kevin93w commented on #189
@kylestetz The errors are occurring on many versions of IE, including the newer ones up to IE10 and IE11 (Tested through multiple platforms and BrowserStack).

The versions I use:

jQuery - 1.10.1
Modernizr - 2.6.2
HTML5Shiv - 3.7.3
MomentJs - 2.9.0
UnderscoreJs - 1.8.3
ClndrJs - 1.2.10

[2015-07-01 15:13] kevin93w commented on #189
I have updated the ClndrJs version to 1.2.12, the problem persists. I noticed that while the array does contain events for all of the months displayed, it seems to put all returned events onto the first of July in the first calendar. While the two other calendars remain empty... So I guess the problem has something to do with IE and my Underscore template in combination with the events array.

[2015-07-01 15:15] mikegioia commented on #189
I think this might be the moment library not correctly parsing the date. The only time that error (everything landing on the same day) happened to me it was when the date processing failed. I think it's hitting July 1 because it's today, and the fallback for the failed parsing is to load it for today.

Are you able to test moment.js at all, or try out their demos on their website?

[2015-07-01 15:38] kevin93w commented on #189
Unfortunately I don't have my development suite installed on a Windows platform, so I'm not able to debug the code on IE. I did try and debug the code itself, also the dependencies, but did not find any unexpected flows.

Is the date format in my array and StartsWithMonth attribute syntactically correct to work with ClndrJs and Moment?

[2015-07-01 15:48] kylestetz commented on #189
@kevin93w yes, your dates are correctly ISO formatted (YYYY-MM-DD). That is definitely not the issue.

I just ran the `test.html` page in my IE8 environment (virtual box) and it failed on `clndr.multiDayMixedPerformance`. @kevin93w I think clndr is the cause!

Unfortunately I am not in a position to check this out thoroughly at the moment. I will do so as soon as I can.

[2015-07-01 15:49] mikegioia commented on #189
I just cloned 1.2.12 in Windows 7 and tested example/index.html in Win11 and it worked. I created another file in `example/` locally on windows and dumped the following (excuse the formatting/lack of css) code and it also ran as expected. You should see the day number and the count of events for that day.

http://pastie.org/10268380

I'm not sure if I can reproduce this.

[2015-07-01 16:05] kevin93w commented on #189
@kylestetz @mikegioia Okay, so perhaps it has something to do with the failing tests. I already thank you for the quick responses, so please take the time necessary to check the issue out! I also tried the pastie you sent, but I don't seem to get it to work in my environment. It only shows the header blocks with the name of the month in it (so no events or anything else). Also worth mentioning tha

[2015-07-01 16:06] polikin opened #190 "moment JS locale"
I'm tried to changed the local of my calendar, but it doesn't work.
`console.log(moment.locale())` return FR but the months are in english.

this is my code:

[code]

[2015-07-01 16:25] #190 closed

[2015-07-03 09:31] Razored opened #191 "passing event information to another <div> on calendar template page"
Hello there,

I know little about javascript, yet I would like to tailor CLNDR (.clndr2) to my needs.
I would like to achieve that when a user clicks on a calendar date which has an event, the event information (date, time, venue, title - as set in the event array in site.js) is displayed in `<div class="event-item">` on the same calendar template page.

I was experimenting with this in the site.j

[2015-07-05 21:51] mikegioia commented on #191
In this part of your code:
[code]
The `target` variable should contain the events for the day that was clicked. Try console logging `target` to see what you have access to.

[2015-07-06 06:37] Razored commented on #191
I was looking at this element in the console and could not figure out how to grab the data elements (from "clndrStartDateObject: Moment") containing date, location, title, type and URL from this hierarchical order:

----

events: Array[1], date: Moment}

   date: "2015.07.25"
   location: " ott. 2."
   title: "Artpolis Kick-off"
   type: "holiday"
   url: "esemeny/esemeny_reszletes_150535_01.html"

[2015-07-06 14:16] mikegioia commented on #191
@Razored To answer your question, you would to iterate over the `events` property. It's an array with objects containing the properties you passed in. You would use the title, url, type (etc) properties in your click event handler.

That's about as far as I can help with right now unfortunately. You may be better served in Stack Overflow from here on.

[2015-07-06 14:34] Razored commented on #191
Thanks, I'll try there. I appreciate your help.

[2015-07-06 15:17] #191 closed

[2015-07-06 15:19] mikegioia commented on #188
@Maclanahan do you have any update on this? I just need to know how you're re-rendering the calendar first. The best thing you could provide would be detailed steps to reproduce this, and hopefully any code/config that you used. That way I could re-create the error the fastest and hopefully patch it.

[2015-07-07 17:49] tzd opened #192 "clndr 1.2.12 Cannot read property 'format' of undefined error"
Hi, with the latest version of clndr I got `error: Cannot read property 'format' of undefined` (line 707) when I click on any calendar day. Please check http://codepen.io/anon/pen/GJxBXg. On 1.2.10 works ok.

[2015-07-07 18:31] mikegioia commented on #192
Thanks @tzd, I think this is a scope issue on `this` in that filter() method. I should be able to patch this in a few hours.

[2015-07-08 11:49] kevin93w commented on #189
Hi guys, any news yet or no time so far checking the issue out or reproducing it?

[2015-07-08 14:23] MikaelX commented on #192
Hi, i have the same issue but only when I add the events through calendar.addEvents([]); I have not tested to add the events by the normal options object on init.

[2015-07-08 14:38] mikegioia commented on #192
Ah actually this is a bug on line 1177, the `_clndrDateObject` doesn't exist as it's commented out, I'm going to use the start date on line 708 to fix this.

[2015-07-08 14:46] mikegioia commented on #192
@tzd @MikaelX could you try now with 1.2.14? That's the current latest. I tested it on the same codepen and it looks to be working.

[2015-07-09 00:25] tzd commented on #192
Hi, it works for me, thank you for the fix.

[2015-07-09 03:01] #192 closed

[2015-07-09 03:09] mikegioia commented on #189
Sorry, @kevin93w I still have to clone and run the tests in an IE/Windows set up. I only have VMs to work with but I should be able to tomorrow.

I patched a bug today in 1.2.14 so if you could try with that I'd appreciate it, but otherwise I'll let you know what the tests return for me.

[2015-07-09 03:28] mikegioia commented on #185
@arnodeclercq This is fixed in the branch issue185. If you have the time and would like to verify it works, please pull and checkout issue185. Otherwise, I'll test this once more at work tomorrow and merge it in to master.

[2015-07-09 03:31] mikegioia commented on #182
@jsumnersmith Sorry, I'm unfamiliar with browserify in this regard. Do you happen to have any more info about what isn't working? You're saying CLNDR is requiring jquery/underscore dependencies that you already have global? If that's correct, then why isn't CLDNR using the global $ and _ ?

[2015-07-09 03:33] mikegioia commented on #161
@webteckie I was browsing through the requirements to CDNJS and it seems pretty time consuming :/ My only hesitation with adding it to this CDN is that CLNDR is already being published to NPM, Bower, and Git.

Perhaps @kylestetz could offer his opinion on this too.

[2015-07-09 03:33] #157 closed

[2015-07-09 07:00] MikaelX commented on #192
Thanks, that works now :)

[2015-07-09 07:01] MikaelX opened #193 "Multiple Selected days in months, 1 per week"
With version 1.2.14 I've noticed that I can select one day per week instead of one day per month (which gets the selected class), can anyone confirm?

This gives that I can have 5 selected days of the month but I only want one :)

[2015-07-09 10:46] kylestetz commented on #182
@jsumnersmith is saying the opposite— that if he uses browserify, clndr will try to require moment and jquery (because of its requirejs-compatible configuration) and there is no way to prevent that from happening. @jsumnersmith we'll have to check out the browserify docs on this one.

[2015-07-09 10:55] kevin93w commented on #189
Hi @mikegioia, I updated to the new version 1.2.14 like you suggested. It did have some effect, in the sense that the rendering failure is not on the first day of the month but in this case on the 9th day (I do not now why, because it is not the first day an event takes place that month). I added a screenshot below for you to check it out.

![schermafbeelding 2015-07-09 om 12 52 24](https://cloud.

[2015-07-09 13:58] mikegioia commented on #193
@MikaelX I just ran through the tests and can't reproduce this. Is there a way you can replicate this in `example/test.html`?

[2015-07-09 14:54] arnodeclercq commented on #185
I've tested the changes and the bug seems to be resolved.
Thanks!

[2015-07-10 17:57] webteckie commented on #161
@mikegioia where did you read about the stringent requirements for CDNJS?  Almost every popular library you can think of is there.  It would be very nice to see CLNDR there since I think it deserves to be there.  I have not personally published a library to CDNJS but use many libraries from there and if needs help I may be able to.  I also have a project that only wants to use CDNJS for requiring

[2015-07-10 18:09] mikegioia commented on #161
@webteckie Yea perhaps you're right. It looks like CDNJS can auto-update too. I'll try submitting a pull request later today.

[2015-07-11 02:34] ipsgandhi opened #194 "Having two different kinds of event objects"
var events = [
    { eventdate: '2015-07-11', title: 'Persian Kitten Auction', location: 'Center for Beautiful Cats' },
    { appointmentdate: '2015-17-11', reason: 'Not Well', Doctor: 'Mr. Makemehealthy' },
  ];

Is it possible to have this kind of events in the calendar ? Maybe a type can be added to distinguish between the two.

[2015-07-11 22:07] piegus opened #195 "How can I disable specific days"
Hey.
Im working right now on implementing clndr on one of the sites. I need to disable specific days from Ajax request. How can I achieve this??

[2015-07-15 21:11] mikegioia commented on #195
@piegus What do you mean by "disable specific days"? You have full control over the template during render so you always have the option to add logic to your template or via CSS to hide specific days. You could add certain classes to the day and hide them that way.

Or do you mean have CLNDR hide days?

[2015-07-15 21:13] mikegioia commented on #194
@ipsgandhi You can add any info to the events array and you'll have access to those properties in your template. In your case, you would want to do:

[code]
Then in your template you could use the `type` field to render data differently.

[2015-07-21 18:31] clemensp commented on #185
Hello,

When is this fix planned to be merged in?
I've run into the same bug, and I'd like to decide whether I want to wait for the next release, or if I want to apply a temp fix.

Thanks!

[2015-07-21 18:35] mikegioia commented on #185
Crap I totally forgot to merge it in. I'll do it now, sorry y'all.

[2015-07-21 18:45] mikegioia commented on #185
This is now merged into 1.2.15.

[2015-07-21 18:45] #185 closed

[2015-07-21 20:09] clemensp commented on #185
Thanks for the quick resolution.

Much appreciated! :+1:

[2015-07-21 22:37] joubertredrat commented on #136
This issue is only to help to develop CLNDR2 or talk about possible new features?

[2015-07-27 17:11] alepaez opened #196 "Firefox - Duplicated date (2015-10-17)"
2015 - 10 - 17 is appearing twice on Firefox
![date array](http://s7.postimg.org/3u1m596nv/Screen_Shot_2015_07_27_at_2_03_18_PM.png)
![view](http://s7.postimg.org/n9cdyczy3/Screen_Shot_2015_07_27_at_2_00_22_PM.png)

[2015-07-30 16:54] rendrag opened #197 "Ending month date is duplicated in calendar"
I'm seeing at the end of each month a repeat of the last calendar date. In the screenshot below, July 31 is shown twice. Advancing to August, there is no duplicate at the beginning of the calendar, but there are two 31sts. In September there are two 30ths, etc.

I'm using version CLNDR v1.2.4

![calendar-double-date](https://cloud.githubusercontent.com/assets/819727/8989185/cd963164-36a7-11e5-8af4

[2015-07-30 16:59] rendrag commented on #197
Looks like this was resolved in a later release.

Thanks!

[2015-07-30 16:59] #197 closed

[2015-08-03 18:51] movostudios commented on #151
Just found CLNDR. Awesome.

You've mentioned the one-day option. This would be great for us (currently using fullcalendar). I presumably we would be able to style hours/mins etc so we can display a day schedule? Not just a list of events for a given day?

Also, we use resources a lot. I think we could code this currently? Not quite sure. Basically grouping events by a given value (name or room for

[2015-08-04 08:34] abraovic commented on #195
Hi **@mikegioia**,

I have the same question. What I was wondering if there is an option in which you can define an array of dates that you want to exclude?

e.g.
[code]

As I can see in the available options, you do not have this. I was wondering if you are planning to have something like this?

Thanks,
Ante.

[2015-08-04 11:24] mikegioia commented on #195
I think it's a good suggestion, but I'm not sure this is something that should be included in the library. @kylestetz might want to weigh in, but this seems like it should be handled outside. In my own app that uses CLNDR, I set up template logic to exclude weekends.

I haven't yet investigated what side-effects excluding days could cause. For one, I think this setting would break all of the tests

[2015-08-04 11:41] kylestetz commented on #195
I agree with @mikegioia, this is a templating concern. @abraovic, did you know about the `extras` option in clndr? Whatever you put in there will be available in your template. I am imagining a function that excludes those blacklisted days, which you could use to prepare the correct `each` loop:

[code]

[2015-08-04 11:43] webteckie commented on #195
Perhaps add the ability for CLNDR to have plugins?  That way different functionality can be optionally available without it being part of the core library.

[2015-08-05 03:07] darwinluague9001 opened #198 "Disable Previous Button if month is a past month"
Is there any way that I can disable the previous button when the month is already past. Like for example the current month is August and I cannot go back to July.

[2015-08-05 12:13] kylestetz commented on #198
Sure! There is a feature in clndr called [Constraints](https://github.com/kylestetz/CLNDR#constraints--datepickers). It allows you to prevent the user from moving beyond a date, either in the past or in the future (or both!). In your case, you can set it up like this:

[code]

This tells clndr to prevent the user from moving to a month prior to this month. This will add a `disabled` class to the p

[2015-08-05 12:13] #198 closed

[2015-08-05 12:30] darwinluague9001 commented on #198
Thanks @kylestetz

[2015-08-05 22:44] mizuti commented on #153
Sorry, I don't know the best way to represent this on github (new here).

I had the same issue, I changed
var i = 1;

to

var i = 2;

and the months seemed to line up correctly and I did not have any duplicates of the last month styled with "adjacent-month".

Line 324
[code]

[2015-08-05 22:47] kylestetz commented on #72
Just realized I can close this! This feature was added in v1.2.11 thanks to the hard work of @mikegioia.

[2015-08-05 22:47] #72 closed

[2015-08-05 22:53] mikegioia commented on #196
Thanks @alepaez for the details. I'm gonna investigate this and #153 as they both have to do with what feels like a looping or counter issue.

[2015-08-05 22:55] mikegioia commented on #153
@mizuti In the latest version, that line number doesn't match up. Are you using v1.2.15?

[2015-08-05 22:56] kylestetz commented on #196
@alepaez what time zone are you in? We've had some issues with a specific timezone that seem to be related to a general JS `Date` bug. I'm looking for the issue where we discussed this...

[2015-08-05 22:57] mizuti commented on #153
Oo I did not check that. I am on v1.2.4

[2015-08-05 23:00] kylestetz commented on #196
Found it: #131. Is this only happening in Firefox, or can you replicate it across all browsers?

[2015-08-06 12:07] alepaez commented on #196
Thank you guys!
@kylestetz I'm in GMT -3. It's only happening in Firefox (Tested in Chrome, Safari and Firefox)

[2015-08-06 13:42] kylestetz commented on #196
I can't reproduce this. Can you tell us about your development environment? OS, browser version, clndr version, etc.

[2015-08-06 13:59] alepaez commented on #196
I'm running clndr.min.js v1.2.0 on production.

Customer who reported the bug environment:
  Windows 7, Firefox 39.0

My development environment:
  OSx Yosemite, Firefox 38.0.5

Already tried to update to clndr.min.js v1.2.15, but the bug persisted.

[2015-08-06 14:15] kylestetz commented on #196
Interesting, we're in the same environment but I can't see this one.

As an aside, definitely use v1.2.15! It is fully backwards-compatible down to 1.2.0 and some nice things have been introduced since.

[2015-08-06 16:35] alepaez commented on #196
jQuery version could have influence on this bug?

[2015-08-06 16:41] kylestetz commented on #196
Sure it's possible, and actually `moment` would be the more likely candidate to mess things up. I am testing the [example/index.html](https://github.com/kylestetz/CLNDR/blob/master/example/index.html) page in the clndr repo, which loads jquery `v1.10.2`, moment `v2.8.3`, and underscore `v1.5.2`.

[2015-08-06 17:12] alepaez commented on #196
Ok, those are the versions I have here.
jquery: 1.8.2
moment: 2.9.0
underscore: 1.4.2

[2015-08-10 06:48] krlnr opened #199 "''Title of event''"
Hello,
I have a problem with my ''title'' of my event, they doesn't appear in my web page...

![capture d ecran 2015-08-10 a 08 45 19](https://cloud.githubusercontent.com/assets/10655618/9160617/26101fca-3f3c-11e5-95bf-0dc13fabe02f.png)

[2015-08-10 10:22] kylestetz commented on #199
Hi Léo! You are using the default clndr template which doesn't show event titles. If you want your calendar to have event titles in it, you'll have to write your own template. You can read more about writing templates [in the clndr documentation](https://github.com/kylestetz/CLNDR#introduction-you-write-the-markup).

I'm going to close this issue for now, but feel free to open a more specific one

[2015-08-10 10:22] #199 closed

[2015-08-15 09:53] kapke opened #200 "Wrong events triggered"
When clicking "next month" button, there is "previousMonth" callback called. Need to check if there are more mistakes like this one.

If needed, I think I'm able to propose solution for that

[2015-08-15 13:20] mikegioia commented on #200
@kapke I don't see where this is happening. Do you have a line number or any more information?

[2015-08-17 19:16] kapke commented on #200
Sure: look at gist I linked. It doesn't matter which control you click (next or previous month), always is triggered event notifying that you clicked _previous month_ control. Months are changing properly.
https://gist.github.com/kapke/0677bd34a8130c401b10

[2015-08-18 13:57] mikegioia commented on #200
@kapke I think I found the bug. If you wouldn't mind, could you pull branch "issue200" and check your script against that? I'm pretty sure it can go into master but I'd like to check first.

[2015-08-18 16:16] kapke commented on #200
It looks that unminified version works properly now.

[2015-08-18 16:17] mikegioia commented on #200
Thanks, yea I didn't minify it in this branch. I'm going to merge this into master and rebuild it all.

[2015-08-18 16:23] mikegioia commented on #200
This is resolved in v1.2.16

[2015-08-18 16:23] #200 closed

[2015-08-18 16:29] mikegioia commented on #195
@webteckie That's an interesting idea, but I'm not sure where in the init/render a plugin would be useful. In order to implement excludeDays via a plugin you would have to hook into either/both of the render and createDaysObject.

There's actually two hook-points @piegus could use to possibly achieve date exclusion: `options.doneRendering` is triggered right after the render, and `options.ready` i

[2015-08-18 17:02] webteckie commented on #195
@mikegioia feel free to close it if the original issue was solved or has a workaround.  Mines was just a vague suggestion.

[2015-08-18 17:04] #195 closed

[2015-08-18 17:05] mikegioia commented on #194
@ipsgandhi I'm going to close this out unless you had any other questions or updates as it's been over 30 days.

[2015-08-20 09:45] danielpuglisi opened #202 "Display events on date element"
I'm looking for a way to display the events in the date field itself instead of a separate month list. Any idea how to achieve this?

E.g. similar to the way http://fullcalendar.io/ shows the events.

[2015-08-20 09:49] danielpuglisi commented on #202
And as always. Found out the answer right after posting the issue –.–

[code]

[2015-08-20 09:49] #202 closed

[2015-08-28 10:31] MirkoWeb opened #203 "Link between days and events"
Can I create a "link" between days and events in the template or JS events of CLNDR?
For example, I would make that mousing over a particular day it highlights the event attached to it.

Thank you

[2015-08-28 22:25] mikegioia commented on #203
In your template, you could attach class or data- attributes pertaining to your events. And in your events list you could attach the similar properties to each event. I think you could then tie event behaviors to items with those class name/data attributes to interact with each other.

[2015-09-08 20:27] imensha commented on #193
My guess is this is due to the `trackSelectedDate` option. It uses `siblings()` to remove the `selected` class, which means if all `day` elements are not siblings (for example, if the template nests days inside individual week elements), it is possible for multiple days to appear selected at the same time.

[2015-09-09 12:19] krismo-pl opened #204 "How can i get prev/next month name"
you give such a solution - but the script does not return these values.

// the month name- don't forget that you can do things like
// month.substring(0, 1) and month.toLowerCase() in your template
previousMonth: "April"
month: "May"
nextMonth: "June"
// the year that the calendar is currently focused on
year: "2013"

[2015-09-14 10:30] jeanko84 opened #205 "Show event this day"
Hi!
In the example on the homepage of your website, instead of "event of this month" it's possible to display the "event this day" when i click on a particular day?
thanks

[2015-09-15 13:09] #205 closed

[2015-10-08 00:51] davovscapcom commented on #196
It looks like this issue is related to when daylight savings time ticks over. In my region, October 3 is being duplicated, which marks the beginning of daylight savings time.

[2015-10-09 06:56] idwapro2 opened #206 "calendar example"
hey could you share the code for the 2nd calendar you use in kylestetz.github. I like the UI and the slide, good work.

[2015-10-09 13:24] kylestetz commented on #206
The code for the demo site is on the [github pages branch](https://github.com/kylestetz/CLNDR/tree/gh-pages).

[2015-10-09 13:24] #206 closed

[2015-10-12 04:58] idwapro2 commented on #206
thanks

[2015-10-13 09:18] SNiels commented on #187
I need this too

[2015-10-13 09:27] SNiels opened #207 "Add element.clndr.instance() method"
This method should return the instance of the initialized calendar on that element.

[2015-10-13 16:36] mikegioia commented on #207
@SNiels there's an undocumented way of getting this by accessing `.data( 'plugin_clndr' )` on the HTML element that the CLNDR was instantiated on.

However, having .getInstance() or .instance() is a much cleaner method.

[2015-10-13 16:37] mikegioia commented on #204
@krismo-pl can you please paste your code here? Any example would help us answer your question better.

[2015-10-13 16:37] #194 closed

[2015-10-13 16:37] #203 closed

[2015-10-13 17:05] mikegioia commented on #207
@SNiels I just submitted a proposed update for this in the "version-1.3" branch. Let me know if you have a chance to take a look at it to see if it's sufficient.

You can now call `$(selector).clndr()` without any arguments on an instantiated calendar to return back the CLNDR instance.

[2015-10-13 17:06] mikegioia commented on #187
@SNiels This is also in the version-1.3 branch. You can reference it as a `.destroy()` method on the CLNDR instance.

[2015-10-13 18:52] eduavila opened #209 "Disable specific dates?"
how do I disable specific date? and if as a day of the week? eg disable every Sunday.

[2015-10-13 19:04] mikegioia commented on #209
You would need to do this in your template/rendering. A good way to do it would be to check which day of the week it is in your template, and skip that day in your loop so as not to render the day. Or add a class to it and hide it via CSS.

[2015-10-13 19:10] #171 closed

[2015-10-13 19:10] #167 closed

[2015-10-13 19:11] #162 closed

[2015-10-13 19:11] #170 closed

[2015-10-14 02:25] mikegioia commented on #207
This is resolved in 1.3.0

[2015-10-14 02:25] #207 closed

[2015-10-14 02:25] mikegioia commented on #187
This is resolved in 1.3.0

[2015-10-14 02:25] #187 closed

[2015-10-14 08:05] SNiels commented on #207
I'm using the undocumented way at the moment because calendarContainr.clndr() will instantiate a clndr without params if it's not already instantiated (which I don't know at that point of the code). I would go the .instance route.
[code]

[2015-10-14 08:05] SNiels commented on #187
Works great, thank you.

[2015-10-14 11:22] eduavila commented on #209
You have some sample using template / rendering ?

[2015-10-14 13:31] mikegioia commented on #209
Something like this:

[code]
You're iterating over the days array, but this is just one example of, say, 'hiding weekends'. I use this in my app, and the `extras.options.show_weekends` is passed in as configuration on the CLNDR instantiation:

[code]

[2015-10-14 14:06] mikegioia commented on #165
@tuelsch I just added moment as a configuration option. I can't think of an easier solution. I have it here as a separate branch but I'd like to merge this into master soon on approval -- https://github.com/kylestetz/CLNDR/compare/moment_option

[2015-10-14 14:13] kylestetz commented on #165
It seems like this will solve the immediate bug— changing the language configuration— but not #182, which is about clndr running `require` when used in a browserify environment (and not being able to stop that).

'm down with this change, though, since it's BC and it solves your issue!

[2015-10-14 15:10] mikegioia commented on #165
Ah ok, I see now. I didn't know that require() calls were happening in clndr.js. I'll merge this in later today.

[2015-10-14 18:47] eduavila commented on #209
perfect. thank you.

[2015-10-14 18:47] #209 closed

[2015-10-16 08:44] kienerj opened #210 "How to limit events per day?"
I would like to limit events per day and color days green if event is available and red if not.

Especially the coloring seems to pose some problems. I would do this in the "doneRendering" function, correct? I can get all days with an event through jquery selectors. But the problem now is, how can I easily get the 'target" object of each day?

That does not seem possible, I would have to extract t

[2015-10-16 14:22] kylestetz commented on #210
Hey @kienerj! This is definitely something clndr can help you achieve. The key is to write a template that adds classes to the events based on the circumstances you just outlined. Have a look at #6, which shows you how to take data from your events and inject it into a template.

If you put all of the logic for coloring events in your template, you shouldn't have to write any additional javascript

[2015-10-16 14:22] #210 closed

[2015-10-19 18:07] yepeekai commented on #136
I think it would be great to design it to make it possible to do databinding for events.  For example having an event "beforeRender" where I would be able to modify the events array.  We use it for a lot of events and it doesn't make sense to load 5 years of events, it would be better to load them on demand.

Thanks

[2015-10-19 18:11] yepeekai commented on #151
I think it would be great to design it to make it possible to do databinding for events. For example having an event "beforeRender" where I would be able to modify the events array. We use it for a lot of events and it doesn't make sense to load 5 years of events, it would be better to load them on demand.

Thanks

[2015-10-19 18:19] yepeekai commented on #136
I tried to search for clndr2 and didn't find anything.  Is it started? Will it happen?

[2015-10-21 20:17] chadbergman commented on #191
I'm trying to accomplish this same functionality, but when I log target all I get is:

'Object {element: div.day.event, events: Array[0], date: null}'

Expanding events shows a length of 0, even though the day is getting tagged as having an event and my events.json file is populating the events since I can see them all using eventsThisMonth. I'm just not sure how to target the day to show just tha

[2015-10-21 20:52] mikegioia commented on #165
This is now merged into v1.3.2. I'm going to close this ticket out as #182 is open and concerns with the deeper issue.

[2015-10-21 20:52] #165 closed

[2015-10-22 13:36] trottera opened #213 "Disable trackSelectedDate for inactive days"
i'm trying to use CLNDR as a date picker.

I would like to disable the functionality, that you can select a inactive date. I guess i could check for the inactive class on the click event, and revert the selection. But i'd rather disallow the selection of a inactive day in the first place.

Is there any way to do this?

[2015-10-22 13:59] kylestetz commented on #213
There is currently no way to do this!

How about an `ignoreInactiveDaysInSelection` option, which you can set to  `true` when you instantiate clndr, so that it will ignore days with the `inactive` class on it? Would that work for you?

[2015-10-22 14:02] trottera commented on #213
yes, that would be perfect.

[2015-10-22 14:44] kylestetz commented on #213
Just published `v1.3.3` which has this option! I think you'll figure it out, but if you want a working example I've added one [to the test suite here](https://github.com/kylestetz/CLNDR/blob/master/example/test.js#L388).

Cheers :beers:

[2015-10-22 14:44] #213 closed

[2015-10-24 11:31] melanke commented on #193
A quickfix:
[code]

[2015-10-27 10:40] trottera commented on #133
i'd also be interessted in an setSelectedDate function, could this issue be reopened?

From what i can tell, right now you can set a selected date by setting a date to clndrInstance.options.selectesDate, then rerender the calendar and setting the month and year. I think to have these steps in one function would come in really handy.

Also, a resetSelectedDate function would be good. Or maybe this

[2015-10-27 12:52] piehouserat commented on #97
hey guys, just discovered this plugin and it's perfect for my project which requires the user to select a date range. I'm sure I could hack something together tonight but does anyone have a working example of selecting a start date and then selecting the end date?

[2015-10-30 19:03] ambicoder opened #214 "show/hide calendar"
How I could achieve that the calendar appears on clicking a button...I want it to be hidden originally.
Furthermore...when it gets to be shown I want it to be done using css transitions.

But first(let us forget the transitions for now) I tried to achieve what is described above with this https://jsfiddle.net/fiddlehunt/m4mdyjnr/

I set the div element(where the calendar in initialized) to display

[2015-10-30 19:09] mikegioia commented on #214
@ambicoder you have two errors in that fiddle:

1. The id should be `"show"` you have `"show    "`. Change this to be:

[code]
2. it's `display: block` not `display:visible`. Change the JS to be:

[code]

[2015-11-02 09:11] ambicoder commented on #214
I have managed to do the show/hide part....I am not closing the issue yet cause I want to do the transition part.Thanks for the help so far.
https://jsfiddle.net/fiddlehunt/m4mdyjnr/

[2015-11-02 14:19] ambicoder commented on #214
I found a solution after all in transitioning the element....thanks anyway.

[2015-11-02 14:19] #214 closed

[2015-11-04 11:29] lukefrake opened #215 "Destroy function breaks previous next events"
I have to run the destroy function on the clndr and rebuild. On the face of this doing it is absolutely fine.

On second look, it means that the previous and next buttons stop working. I've had a dig through the code and context.element is null still from the destroy. It seems like the events are still in place from the initial destroy.

[2015-11-04 11:37] lukefrake commented on #188
I had a similar case with the destroy function and events. My PR #216 might fix this.

[2015-11-04 14:14] kylestetz commented on #215
Nice, sounds like you're on top of this one— can you give me the steps to reproduce the problem or post the code you're using that exhibits the bug?

[2015-11-04 14:46] lukefrake commented on #215
Below code should work for you.

[code]

Does that help enough? :dancer:

[2015-11-04 17:10] danielepennati commented on #215
I have the same issue

[2015-11-05 11:19] Gespinha opened #217 "selectedDate doesn't work"
Hi there,

I have the following setup for my clndr instance:

         window.calendar = $('#calendar').clndr({
            template: $('#calendar-template').html(),
            adjacentDaysChangeMonth: true,
            trackSelectedDate: true,
            selectedDate: '2015-10-11'
        });

But, although I have set the selectedDate to a certain date and the calendar opens in the select month

[2015-11-05 14:39] #215 closed

[2015-11-05 14:52] kylestetz commented on #217
I tested this and it works for me. What version of clndr are you using? The selected date feature was added in `v1.2.11` and I just pushed `v1.3.4` this morning which I would encourage you to use.

[2015-11-05 15:21] Gespinha commented on #217
Hi @kylestetz I've just updated to v1.3.4 and I have this as an option:

selectedDate: '2015-10-13'

but it doesn't seem to work.

[2015-11-05 15:22] kylestetz commented on #217
Can you create a JSBin that replicates the issue so that I can take a look?

[2015-11-05 15:24] Gespinha commented on #217
Oh, nevermind I've just discover it is actually working, but the calendar isnt focused on the selected month when I start the page. How can I make it focus on the month of the selected day?

[2015-11-05 15:44] kylestetz commented on #217
There is a `startWithMonth` option that takes a date string or a moment object. Have a look at the [Usage docs](https://github.com/kylestetz/CLNDR#usage) for more options you can use on startup!

[2015-11-05 15:44] #217 closed

[2015-11-05 15:48] Gespinha commented on #217
@kylestetz Thanks, that works :)

Just another small detail, how do I set the calendar date dynamically through the instance?

I've tried something like this, but it didn't work:

`window.calendar.options.selectedDate = "2013-05-29"``

[2015-11-05 16:31] Gespinha opened #218 "Can't set a date through external link"
Hi there,

How do I set the calendar date dynamically through the instance?
I've tried something like this, but it didn't work:

`window.calendar.options.selectedDate = "2013-05-29"`

What am I doing wrong?

[2015-11-05 20:50] oa495 opened #219 "Click event not working within Event listings"
I added a div right after the event listings. Right now all the click event is supposed to do is logging out some text but it's not working. The div class works outside of the calendar just not inside.

<div class="event-listing">
            <div class="event-listing-title">EVENTS THIS MONTH</div>
           <div class="sort-options"><span class="sortByUpcoming">Upcoming</span> | <span class="sor

[2015-11-05 21:02] oa495 commented on #219
Figured out that it needs to be under doneRendering(). sorry about that!

[2015-11-05 21:02] #219 closed

[2015-11-05 23:02] daseinhorn opened #220 "Sidebar with currently selected date"
Hi all

I want to create a calendar like the first example on your homepage. But instead of the "events this month" I want to list all the events from the current day.

Technically I have everything working with the new trackSelectedDate option but I wonder what the best way is for me to loop over the events of that day. It seems that there is no option like eventsThisMonth for eventsThisSelectedD

[2015-11-06 06:25] ollie007 opened #221 "Weekly 7-day Calendar; integration myBB etc"
How do i display the current weekly 7 day calendar or any period? as a slider on top?

rather than have the usual, 30 day box?

[2015-11-06 13:03] daseinhorn commented on #221
#13

[2015-11-06 14:17] kylestetz commented on #221
No need to refer to #13, a feature was added in the spring that allows you to do this. See the `lengthOfTime` option in the [Usage section of the docs](https://github.com/kylestetz/CLNDR#usage).

[code]

Now in your template you will have a `days` array of length `7` and all clndr controls (next, previous, today, next year, previous year, etc) will work as usual.

[2015-11-06 14:17] #221 closed

[2015-11-07 03:36] ollie007 opened #222 "How to integrate into forum and other CMS's templating system?"
How to integrate into forum and other CMS's templating system?

With a little addon, forums will allow php to be called into their templates? CLNDR looks to be  using standard php calls?

How do i call its functions into other php scripts?

     include_once "clndr.php"

would it work?

[2015-11-08 22:19] mikegioia commented on #218
@Gespinha Do you have sample code? I can't tell without knowing the scope of your `calendar` variable.

If you look at the docs, selectedDate is a configuration option you can set during initialization.

[2015-11-08 22:22] mikegioia commented on #220
@daseinhorn Good question, however you'll probably have more luck with implementation questions on something like Stack Overflow. This issues list is primarily reserved for bugs/implementation problems.

What you're looking for will probably be custom template logic. You have a `days` array with all of the events for each date, and you could wire up your view based on the data in that array.

[2015-11-08 22:23] mikegioia commented on #222
Hi @ollie007. This is a JavaScript library and not a PHP library, so you wouldn't be able to include CLNDR the same way. You might have more luck at Stack Overflow as this issues list is reserved for bugs and implementation problems.

[2015-11-09 00:46] #218 closed

[2015-11-09 00:47] Gespinha commented on #218
@mikegioia I just found the solution for my problem, forgot to close the issue. Thanks anyway! :)

[2015-11-09 07:13] infronte commented on #136
still looking for help in colaboration for CLNDR 2.0?

[2015-11-09 13:19] ambicoder opened #223 "available time slots"
I am building an appointments app...I intend using CLNDR where the available/closed time slots will be presented to the user....I do not want to focus on selection issues yet neither go into much detail-about which view to use.

I am going to focus on moth view for now
My main concern now is how to display relevant data to the calendar...such as:
Indicate that a day is booked or not....obviously i

[2015-11-09 14:06] mikegioia commented on #223
Hi @ambicoder, great question but I think you'll have more luck on something like Stack Overflow. This issues list is just for bugs and implementation problems.

[2015-11-09 14:06] #223 closed

[2015-11-09 14:07] #222 closed

[2015-11-09 14:07] #220 closed

[2015-11-09 14:09] mikegioia commented on #204
I'm going to close this out, @krismo-pl you will have better luck on something like Stack Overflow for your question, as this issue list is only for monitoring bugs and browser problems.

[2015-11-09 14:09] #204 closed

[2015-11-09 15:03] ollie007 commented on #222
this is IMPLEMENTATION, whats wrong with it?

[2015-11-09 15:10] mikegioia commented on #222
Sorry, by implementation problems I meant and should have said problems like [browser quirks](https://github.com/kylestetz/CLNDR/issues/189).

What we can't and don't really have time to do here is help people set up CLNDR in their own app. That's what the FAQ, documentation, and Stack Overflow are for.

[2015-11-09 15:12] ollie007 commented on #222
Stack Overflow doesnt know how this works.....if it s purely JS then really I can just call the JS into any PHP ?!

[2015-11-09 16:07] ambicoder commented on #223
do not disagree....unfortunately I am banned in Stack Overflow....
I know that is the best resource for this kind of staff....the only problem is that I am banned

[2015-11-09 17:25] kylestetz commented on #136
Hey Folks,

Thanks for the continued interest! Since @mikegioia joined the project in the spring we've hit most of our immediate goals, most importantly to get clndr working with intervals other than one month (to support week and year views, etc). I am not hearing much of a desire from our users for the fringe benefits a new codebase was going to give us (the ability to plug clndr into various MV

[2015-11-09 17:25] #136 closed

[2015-11-09 17:26] kylestetz commented on #151
See #136 for an update on the status of clndr 2.0. We won't be pursuing a rewrite of the project for now, and instead we're cleaning up the codebase to ensure that this project continues to be maintainable and easy to contribute to!

[2015-11-09 17:26] #151 closed

[2015-11-09 17:27] kylestetz commented on #155
See #136 for an update on the status of clndr 2.0. We won't be pursuing a rewrite of the project for now, and instead we're cleaning up the codebase to ensure that this project continues to be maintainable and easy to contribute to!

[2015-11-09 17:27] #155 closed

[2015-11-09 17:29] kylestetz commented on #97
Nope @piehouserat I don't have anything. When you make it you should share it via a JSBin or something so that future inquiries can benefit from your hard work :smile:

[2015-11-16 09:11] wcd-calum opened #224 "Returning single events"
On creating a template to display the event clicked on; the documentation only seems to go as far as the function 'eventsThisMonth' which will return a list of events for the that month. Is there an 'eventsThisDay' type function that could be used for returning the result of just the date clicked on?

[2015-11-16 14:37] kylestetz commented on #224
Check out the [Usage](https://github.com/kylestetz/CLNDR#usage) section of the docs, which outlines all of the options you can pass clndr. The `clickEvents.click` event handler is the one you're looking for; it will pass a `target` object which contains the date you clicked on, the original element, and an array of all events that are happening on that day.

[code]

[2015-11-16 14:37] #224 closed

[2015-11-17 06:43] ikhan009 commented on #224
i want to show only day events, not whole month events.  how i show?
here i pass "eventsThisMonth", there is other parameter for day click event?

<div class="events-list">
   <% _.each(eventsThisMonth, function(event) {%>
        <div class="event" style= "color:white;">
            <a  href="<%= event.url %>" onclick="showDialog('<%= moment(event.date).format('YYYY-MM-DD')%>')" ><%= moment(event

[2015-11-17 06:48] ikhan009 commented on #224
other Question,
i want to show model on other days click, where no events.
how i show model there?

[2015-11-20 14:04] mikegioia opened #225 "Small enhancements for Version 1.4"
The main purpose of [1.4](https://github.com/kylestetz/CLNDR/milestones/CLNDR%201.4) is to do the style cleanup and to get the 1.X series ready for maintenance mode. There are a few things I've noticed in the library that could either be cleaned up now, or they could wait for the re-write in version 2.

##### Consolidate forward/backward events

There are 8 methods to handle moving the calendar fo

[2015-11-21 22:37] mikegioia commented on #225
I think I have a way to reduce a lot of code in the event functions by consolidating the parts that trigger events.

Also, it appears that events like `onMonthChange` don't trigger when an interval was specified on the config, even if the interval was a 1-month. I think this is probably correct because a) it's simpler and b) it's tough to know if you want this to trigger on say a 3-month calendar.

[2015-11-25 16:48] kylestetz commented on #225
I'm way into these changes— consolidating feels good and forcing everything to use intervals is definitely a step in the right direction. The `onMonthChange` and `onYearChange` events firing sounds good to me, I would consider the current behavior buggy based on what you described.

I'm a little concerned about the backwards-compatibility break with template data, just because I want it to be clea

[2015-11-25 16:57] mikegioia commented on #225
Yea I agree. This would make the events the most consistent imo. It can be added in 1.4.1.

I think any bc breaking would happen in 2.0 but you're right. This only really has to do with `month`, `eventsNextMonth`, `eventsThisMonth`, `eventsLastMonth`. There's just some confusion during `render` about what is passed to the view based on the config. We can't kill these vars in any 1.X update but I t

[2015-11-25 17:09] kylestetz commented on #225
:+1:

1. Is there a way to break this out into components so that updating is easier?
2. Can the code be reduced/simplified any further?

Just so we're not retreading here, have you read the original proposal we wrote for v2 back in February in #155?

[2015-11-27 01:31] mikegioia commented on #225
Yea I think #155 is right on the money. I was thinking of breaking the calendar, config parsing, and rendering portions out but what you've described is better.

Have you started planning anything w/r/t gregorian.js yet? I could get to helping with this pretty soon.

[2015-11-27 22:10] c-ni opened #227 "Duplicated Date for Last Day of Month"
Tested in Firefox, Chrome and Edge

The last day of the month is duplicated. I just downloaded this calendar to try out yesterday but I'm pretty sure this problem wasn't there yesterday...
![clndr1](https://cloud.githubusercontent.com/assets/15806389/11448605/7faf2240-9529-11e5-87cb-36ac771f3478.JPG)

jsfiddle: http://jsfiddle.net/duck/aEwNt/

Edited to add: Yes, the problem wasn't there yesterday

[2015-11-27 22:35] mikegioia commented on #227
I wonder if this is related to #196. Either way the last day of the month is duplicated for every month here. I'll check this out.

[2015-11-27 22:39] mikegioia commented on #227
@c-ni I can't recreate this in the test file. Can you pull down and run `tests/test.html` to verify that it's happening? I'd like to verify if it's moment or clndr.

[2015-11-27 22:55] mikegioia commented on #227
@c-ni Your fiddle is using CLNDR version 1.2.4, loaded from the test page. Can you please try running this with the latest version of CLNDR to confirm the error?

[2015-11-27 23:06] c-ni commented on #227
Hi Mike,
I'm not at home right now, but will try it when I get home. I'm currently on my iPhone and noticed the same issue on your demo site.

[2015-11-27 23:32] mikegioia commented on #227
@c-ni Hm, I think the problem is with that demo site, but I'll have to test it out fully later. The demo site hasn't been updated in a while and I think it uses a static copy of v1.2.4.

[2015-11-28 00:24] c-ni commented on #227
@mikegioia That was the issue -- it explained why it worked in my app (was using the latest version), and not on the demo site nor jsfiddle (which was an old one I found on stackoverflow). I updated to the latest version and it works great. Thanks for the amazingly fast responses!

[2015-11-28 00:54] mikegioia commented on #227
Sure thing @c-ni Thanks for following up on that.

[2015-11-28 00:54] #227 closed

[2015-12-01 15:53] gdvalderrama opened #228 "Missing comma in example"
In the example for Multi-day Events, there's a typo:

$('#calendar').clndr({
    events: lotsOfEvents,
    multiDayEvents: {
        endDate: 'end'
        startDate: 'start',
    }
});

Should have a comma after: endDate: 'end'

[2015-12-11 17:29] whatnickcodes opened #229 "addEvents without rerender?"
Anyway? Sorry if I'm not seeing it.

[2015-12-11 17:50] kylestetz commented on #229
Can't do that at the moment! It's a perfectly reasonable use case though. We can add an optional second `silent` argument to the `addEvents` function that will skip the rendering step.

I can't do this right at the moment but if you want to submit a pull request that would be awesome! Should be a real simple fix, lines [1483](https://github.com/kylestetz/CLNDR/blob/master/src/clndr.js#L1483) and [

[2015-12-11 17:57] ncerminara commented on #229
Ah! No worries and makes sense. Was just trying to animate new events being added to my calendar without the existing ones "blinking" / repeating the CSS animation . Good to know it's an easy fix.

After I wrap everything else up I'll revisit and send a pull

[2015-12-14 16:48] tonisostrat opened #230 "Period change event not fired"
CLNDR.js version 1.3.4
Underscore.js version 1.8.3

I have a div on the page
[code]
with the following CLNDR initialization script
[code]
The calendar is rendered perfectly according to the default template but when I change the period (week in my case), the event is never fired. Neither do **nextPeriod** or **previousPeriod** handlers work.

[Example JSfiddle](https://jsfiddle.net/o0prry4e/).

[2015-12-14 19:30] halian-vilela opened #231 "Click to show events of clicked days."
In the example, when I click in the mini-calendar the page which rolls in shows the events for the entire month.

I'm trying to modify this behavior to show only the events on the day that was clicked on.. is this possible to achieve? How?

Thanks.

[2015-12-15 07:06] tonisostrat commented on #231
[code]

[2015-12-15 08:35] dejan-milicevic opened #232 "How to set clndr to specific date"

[2015-12-15 09:40] #232 closed

[2015-12-15 11:13] dejan-milicevic opened #233 "Emulate clickEvent: click"
Hello,

Can I emulate clickEvent: click() from outside of clndr?

[2015-12-15 12:09] Ane-tta opened #234 "startWithMonth overwrites daily/weekly calendar's end date"
Hi there! Currently I'm developing a weekly calendar and when I want to set a custom date after using startWithMonth option, my weekly calendar starts showing all dates of month, but it has to show only the full week with custom date. Is there any way to achieve this?

[2015-12-15 12:57] mikegioia commented on #228
Fixed, thanks

[2015-12-15 12:57] #228 closed

[2015-12-15 12:57] mikegioia commented on #230
@tonisostrat Could you pull down and try this against version 1.4?

[2015-12-15 13:02] mikegioia commented on #233
@dejan-milicevic What do you mean emulate a click event? Emulate clicking a day? If so, can do that outside of this plugin with something like:

[code]

In your template you can set up any classnames on the days that you want. They also have some added by default. Check the README and the tests file for more info.

[2015-12-15 13:03] mikegioia commented on #234
Can you please post your configuration and template? I'd need to see what your working with to recommend anything.

[2015-12-15 13:38] dejan-milicevic commented on #233
Yes, of course.. In that case I assume I will not be able to use target object?

[2015-12-15 13:39] tonisostrat commented on #230
[Updated JSfiddle]. If you open up **clndr.min.js** from *External Resources* you can see it's at v.1.4.0. The problem persists.

[2015-12-15 13:40] tonisostrat commented on #233
When you trigger a ClickEvent the event handler that you specified in the **clndr({})** initialization code should be fired. There's really no difference between a programmatic or a mouse click on any of the calendar days.

[2015-12-15 13:44] mikegioia commented on #230
Sorry, @tonisostrat, the docs are wrong in this case. That's my fault, I actually think they've been typo'd for a while. Anyway, you can use these events: onIntervalChange, previousInterval, and nextInterval.

I should probably alias "period" and "interval" in this case.

[2015-12-15 13:47] tonisostrat commented on #230
Thank you, it's been fixed. The events fire with *Interval* :)

[2015-12-15 13:47] #230 closed

[2015-12-15 14:00] dejan-milicevic commented on #233
Understood! Thank you very much for fast answer.

[2015-12-15 14:35] kylestetz commented on #230
Sorry about that! Just updated the docs. Thanks for catching this @tonisostrat!

[2015-12-15 15:23] Ane-tta commented on #234
Part of my template:

<table class="table">
                <thead>
                    <tr>
                    <% _.each(daysOfTheWeek, function(day) { %>
                        <th class="<%= day %>"><%= day %></th>
                    <% }); %>
                    </tr>
                    <tr>
                    <% _.each(days, function(day) { %>
                        <th class="<%= day.c

[2015-12-15 15:25] Ane-tta commented on #234
Part of my template:
[code]

[2015-12-15 15:53] #233 closed

[2015-12-15 18:19] noface69 commented on #231
I am currently try to solve exactly same problem. So far I have figured out this:
[code]

the bit I am now struggling how to 're-run' what's in target.events into this part of my template:
[code]
When clndr is intialised this part of the template contains the list of all events in the currently displayed month. I was hoping after clicking specific day I would somehow only display events in this da

[2015-12-15 20:17] noface69 commented on #231
OK, first pardon me as this probably doesn't belong here on GitHub at all, but more likely to the sites like Stack Overflow or similar.

However after spending some time on this I think I have figured out solution:

In your template give each *.event-item* also a class with the **date** event item belongs to, i.e.:
[code]

Then its simple matter of hide / show, no need to create content of whole *

[2015-12-30 18:41] mcmathews opened #235 "Successfully tested with Mustache.js"
[Mustache](https://github.com/janl/mustache.js) is a Javascript templating system and I was able to successfully implement a CLNDR with it. I'm just letting you know so you can add it to the list of supported rendering systems.

The render function can be written as follows:
[code]

The corresponding markup for a normal calendar could look like this:
[code]

[2016-01-01 13:58] karl-sjogren opened #236 "Knockout template rendering"
I'm using CLNDR in a knockout project and ported the standard template to knockout to see if it was feasible. No need for underscore (or any other templating language) if you already use knockout. The code is available here https://github.com/karl-sjogren/clndr-knockout

[2016-01-14 04:18] #225 closed

[2016-01-14 04:26] mikegioia commented on #234
@Ane-tta I think you found a bug. I haven't confirmed it yet, but my hunch is that the error is happening here: https://github.com/kylestetz/CLNDR/blob/master/src/clndr.js#L228

Line 228 of the library.:

[code]

This is setting the ending interval to be the end of the month, even if the `lengthOfTime.days` options is specified (like in your case).

The workaround is to use `lengthOfTime.startTime

[2016-01-14 04:27] #153 closed

[2016-01-14 04:28] mikegioia commented on #188
I'm closing this out from inactivity.

[2016-01-14 04:28] #188 closed

[2016-01-20 16:12] kkamkou commented on #161
vote up, +1

[2016-01-23 15:37] anthonyhorne opened #237 "Formatting for Event between Start and End Date is thrown off by UTC"
In multi format date, using the array of valid event dates, the adding of the "event" class is thrown off by the UTC date difference and sometimes excludes the last day of the range, i.e. 5-8 Jan will only show the "event" class for 5-7.  The actual object being returned by the onclick does still confirm that the date is part of the valid events.  I suspect it is because my local is ZA and my time

[2016-01-27 15:09] kray67 opened #238 "Zero Pad in calendar days?"
Hi,

Is there a way to make the calendar days 1-9 show as double digit with left zero padding (01-09)?

Thanks in advance!

[2016-01-28 00:17] ahallock opened #239 "Days not marked 'inactive' for startDate constraint when using custom target day class"
I think the issue is with setting the `target day` class to something other than "day". When I have it set to "day", the inactive class is set.

[2016-01-28 15:28] lenamtl commented on #231
+1

[2016-01-28 15:34] mikegioia commented on #238
@kray67 You're free to design your calendar template any way you want. I think this would be handled in the template and not CLNDR.

[2016-01-28 15:41] kray67 commented on #238
@mikegioia Thanks for the reply. I eventually got it to work. Was just wondering if there was some way to do this natively with CLNDR or moment.js. Cheers!

[2016-01-28 15:41] #238 closed

[2016-01-28 15:42] mikegioia commented on #239
Do you have a config and template (or jsfiddle) as an example?

[2016-02-02 15:42] wheelq opened #240 "year view"
is it possible to display whole year, all months on one page?
if yes then how can this be achieved?

[2016-02-03 11:13] imensha commented on #240
You can achieve this by including the `lengthOfTime` option when creating the calendar, using `months: 12`. The `interval` option then controls how many months you move back and forth, so setting it to 12 will move the calendar in 1-year steps.
[code]

In your template, you will have to use the `months` array, where each object contains a `days` array (similar to the regular `days` array) and a `m

[2016-02-03 11:57] wheelq commented on #240
nice :) now, is there any way to show days in one line, month by month? So the columns are weekdays, and rows consist of the month name and the date

[2016-02-08 07:38] james-daddies opened #241 "Calling render() after startDate does not work as expected"
I have two calendars used for a date range type setup. Select on date and then depending on a duration, I set the startDate for the second calendar accordingly.

When the startDate goes into the next month, calling `render()` only updates the days but does not move the calendar to the correct month.

Would there be another method I need to call or could this be an enhancement?

[2016-02-08 15:23] oa495 opened #242 "showAdjacentMonths: false makes every 1st day a monday?"
http://cal.techatnyu.org/

I set showAdjacentMonths to false because I wanted the calendar to take up a certain amount of space but all the 1st days of the month are mondays.

I don't know if this is supposed to happen?

[2016-02-23 01:31] andreikainer opened #243 "keep old month markup onMonthChange"
Hi there! Thank you for the great calendar plug in. One question please:

onMonthChange the script renders (overwrites) the previous month. Is there a way of keeping the markup with all its classes, maybe just make it hidden (display: none) so only one month is displayed.
Reason being is that I need the .calendar-day-xxxx-xx-xx class to manually add a selected class for a certain date range. Thank

[2016-03-09 10:09] Mattia-Nocerino opened #244 "Adjacent month class not showing with different interval lengthOfTime"
I tried to make a weekly calendar by setting this length of time:

`lengthOfTime: {
  months: null,
  days: 7,
  interval: 7
}`

And it's working fine, but it doesn't add the adjacentmonth class to the days of the adjacent months!

[2016-03-14 10:38] zeuyanik opened #246 "Customize month list"
How can I update the month list?

[2016-03-16 01:55] alexschomb commented on #149
Here is an addition to the solution of @friedemannsommer that considers the current moment.js locale setting. The solution should be universal and could be integrated into CLNDR itself to make things easier.

    var weekdays = moment.weekdays(); // or: weekdaysMin(), weekdaysShort()
    weekdays.concat(weekdays.splice(0, moment.localeData()._week.dow));

    $('#my-awesome-calendar').clndr({

[2016-03-21 12:05] rggvn opened #247 "show x number of upcoming events"
right now i have the eventsThisMonth function to show all the events this month, but i want it to show the ten upcoming events starting from the selected month. Can someone point me in the right direction?

[2016-03-23 13:35] slmason opened #248 "adding events from url to calendar"
I am trying to add events from a url where the values are serialized as a json string:

[{"title":"NDTMS.NET Familiarisation","startDate":"2016-03-27T09:00:00","endDate":"2016-03-27T17:00:00"},{"title":"Uploading data to DAMS","startDate":"2016-04-04T10:00:00","endDate":"2016-04-04T15:00:00"},{"title":"Test Title","startDate":"2016-04-13T10:00:00","endDate":"2016-04-13T14:00:00"}]

I have tested m

[2016-03-24 16:04] chadmazilly opened #249 "Event times available"

[2016-03-24 16:04] #249 closed

[2016-03-24 16:09] chadmazilly opened #250 "Event times available?"
Looks like a fantastic plugin that I want to incorporate into an upcoming project. I will need to have specific times for events within each day, however. Ideally, I'd like to have events id'd by `YYYY-MM-DD-HH-MM-SS` for example, and allow overlapping or multiple events scheduled at the exact same time. It appears that this package does not support event times to this level. Am I correct in think

[2016-03-24 20:38] fowlercraig opened #251 "Clicking on date shows events on that day, not all of the events in a month?"
Referencing the #mini-clndr example on the project page, is it possible to only show the events on the day that you clicked, rather than all of the dates in that month?

[2016-04-04 18:43] mikegioia commented on #240
Hi @wheelq, unfortunately we're trying to keep this issues list for bugs/PRs only. Would you mind migrating your question to stack overflow? I'm going to close this out.

[2016-04-04 18:43] #240 closed

[2016-04-04 18:46] mikegioia commented on #241
@james-daddies I think what you're looking for may be here: https://github.com/kylestetz/CLNDR#returning-the-instance--public-api

Otherwise, I must apologize but we're trying to keep the GH issues to be bugs/PRs only. If you wouldn't mind, could you take this to Stack Overflow until it's confirmed to be a bug?

[2016-04-04 18:46] #241 closed

[2016-04-04 18:47] mikegioia commented on #242
@oa495 If you can reproduce a bug with a JSFiddle or something else (reproducible) I can take a look at it and check if it's a bug. Unfortunately, we're trying to keep the GH issues to be bugs/PRs only. Could you migrate your question to Stack Overflow until it's confirmed as a bug?

[2016-04-04 18:47] #242 closed

[2016-04-04 18:48] mikegioia commented on #243
Hi @andreikainer, unfortunately there's no way that I know of. You could pull the HTML out manually using jQuery: `$( '#calendar' ).html()` and then your app logic could do whatever you want at that point.

Unfortunately, we're keeping the GH issues to be bugs/PRs only so it might be easier/faster to get feedback on Stack Overflow.

[2016-04-04 18:48] #243 closed

[2016-04-04 18:51] mikegioia commented on #244
Hi @Mattia-Nocerino, if at all possible could you submit a PR with a reproducible test case for me to ID the bug in question? I think the problem here is that you specified a "weeks" interval and are expecting months logic to exist. I'm not sure if adjacentMonths makes any sense in a weekly calendar context.

Some weeks could have two months within them, but if you're able to come up with a way th

[2016-04-04 18:51] #244 closed

[2016-04-04 18:51] mikegioia commented on #246
@zeuyanik Please migrate this to Stack Overflow, we're trying to keep this to just bugs and PRs :)

[2016-04-04 18:51] #246 closed

[2016-04-04 18:52] mikegioia commented on #247
Hi @rggvn could you please migrate this to Stack Overflow? We're trying to keep this to bugs / PRs only :)

[2016-04-04 18:52] #247 closed

[2016-04-04 18:55] mikegioia commented on #250
Yes @chadmazilly, but I'd be open to accepting a PR with support for times. Right now I think the days array only wants an event in `YYYY-MM-DD` format, but there's nothing preventing us from adding times to this. You could extend this by having the days array include a `time` field if there happened to be a time passed in.

I'm closing this for now, but please feel free to submit that if you ever

[2016-04-04 18:56] mikegioia commented on #251
@fowlercraig I think this is totally dependent on your template logic! You can do anything you want in the HTML template you pass to CLNDR.

[2016-04-04 18:56] #251 closed

[2016-04-04 19:03] #239 closed

[2016-04-04 20:34] kylestetz commented on #250
I'm not sure why clndr can't support your use case @chadmazilly. What specifically are you looking for clndr to provide? Do you want the events to be sorted by time?

[2016-04-05 15:11] mikegioia commented on #248
@slmason The best I can suggest now is to:

1. Dump out `multidayArray` and verify it's in the proper format
2. Check against this working example https://github.com/kylestetz/CLNDR/blob/master/tests/test.js#L103-L114 to see if it works for you on your computer

Update to the latest CLNDR version, etc. Unfortunately we're keeping GH issues as bug reports and PRs, but you might have more luck at St

[2016-04-05 15:11] #248 closed

[2016-04-05 15:13] mikegioia commented on #235
Thanks @mcmathews, there's another issue #236 about CLNDR working in Knockout too. I think these both could go into the README file. I'll try to do it this week, but I'd happily accept the PR :stuck_out_tongue:

[2016-04-05 15:18] mikegioia commented on #182
@jsumnersmith In the interest of cleaning out stale issues, is this still a problem for you? Nothing's been updated on it since last July.

If it is still a problem, I think the next step would be submitting something I can run to reproduce the problem. Otherwise I'll close it out.

[2016-04-05 15:21] jsumnersmith commented on #182
Hey @mikegioia I haven't had the issue since then (but I'm not sure if I've tried to reproduce). Feel free to close it up.

[2016-04-05 15:25] mikegioia commented on #182
Thanks, anything that comes in related I'll know to open this one back up.

[2016-04-05 15:25] #182 closed

[2016-04-05 15:26] mikegioia commented on #193
I'm going to close this one out, it seems you resolved it through the API methods.

[2016-04-05 15:26] #193 closed

[2016-04-06 19:27] dantonyblanco opened #256 "setIntervalStart is overwriting the intervalEndDate"
this.intervalEnd = this.intervalStart.clone()
                .add(timeOpt- 1, 'days')
                .endOf('day');

This line on the setIntervalStart method its trying the get the days from the object instead of accessing the days property.
It should be:
.add(timeOpt.days - 1)

[2016-04-07 09:40] alexschomb opened #257 "Not compatible to Meteor 1.3+"
It took me a while to figure out, but it appears that CLNDR is unfortunately not compatible to the newest Meteor release. You can get it to working using a workaround (placing it in ``client/compatibility``), but that shouldn't be the way to go. I understand that Meteor compatibility wasn't on your todo list, but it would be great if you had a look. Here are some more details and discussion: https

[2016-04-07 11:30] mikegioia commented on #257
@alexschomb I think the only way this would get implemented is through a PR. I've never used Meteor before unfortunately, but if you're well-versed in it please submit one :)

[2016-04-07 11:31] mikegioia commented on #256
@dantonyblanco Could you send a more detailed update, possibly with a way to reproduce the problem, the expected output, and the actual output?

[2016-04-07 16:20] davidmatas commented on #242
@oa495 Probably you will need to style the "empty" days in the same way "days" to fill the space needed.

[2016-04-07 17:44] dantonyblanco commented on #256
Sure, sorry I did not include more details before. I was working on something. Anyhow.
When using clndr we are trying to change the date range we are displaying.
We have datepicker and the date that you select will be the first of the 5 days the our calendar shows.
When we try to set the new intervalStart, clndr will correctly go to the selected day. But instead of showing 5 days it shows only the

[2016-04-11 22:14] Harshali39 opened #258 "Background color for any Date usig color picker"
Hi,
I am kind of new to all his. Can anyone suggest me how to change background color of any date by choosing the color from color picker?

[2016-04-18 14:06] nicomollet opened #259 "force onMonthChange with setMonth"
Hello

I am adding events with ajax, with the _onMonthChange_ event, like sugested in the issue #120.

_onMonthChange_ is fired after changing month, OK. But it is not fired on the initialization of the calendar, and even after executing

[code]

The problem I think is, _onChangeMonth_ is not fired if the month in _setMonth_ is the same as the current month.
Is there a way to force _onChangeMonth_

[2016-04-18 22:58] kylestetz commented on #259
@nicomollet you are correct and this is by design— `onMonthChange` only gets called when the month changes. I would suggest taking whatever logic you have inside of `onMonthChange`, putting in its own function, and calling that function when you instantiate your `clndr` instance.

In other words...

[code]

[2016-04-18 22:58] #259 closed

[2016-04-19 06:32] nicomollet commented on #259
Thanks for your reply, I will do it your way.

[2016-05-23 02:25] halian-vilela opened #260 "Current interval with confusing events"
Hey guys. I'm trying to setup a calendar with recalculate the events based on previous ones. For this I need to get the calendar instance each time the user clicks the Next or Previous to change the month he's viewing.

The problem is the events distribution is very confusing, when I click to go to next Month it only shows events with a delay, it seems that the current interval is always referring

[2016-05-23 12:13] mikegioia commented on #260
@halian-vilela, unfortunately we're keeping this Issues list to bugs and browser problems. I think your question would be better served at stack overflow or something similar.

If you've ID'd a bug, please document it with the config/events you used, and steps to recreate the problem.

[2016-05-23 12:13] #260 closed

[2016-05-24 09:35] agnessav opened #261 "show event of clicked day"
Hello, i've been searching and reading various issues here about how to display only the event of that day on click and i've been trying to do that but it doesn't seem to work. Anyone could tell me why? What am i doing wrong? Thanks

html

[code]

script
[code]

[2016-05-25 17:56] #261 closed

[2016-05-29 17:55] yashilanka opened #262 "Show Tommorow Events"
Hi I Follow the answer that you gave for the **"Current Day Events only"** #109  question and I use that to get tomorrow events but it doesn't work as expected. I want to know is my implementation work or Did I missed something or is there a better way to get tomorrow events . this is the code I use

[code]

above code is the direct implementation that you solved "Current Day Events", I try to use

[2016-05-30 14:07] mikegioia commented on #262
Hi @yashilanka, unfortunately we're keeping the Github issues to bug reports and browser inconsistencies only. I'm not entirely sure the cause of the problem you're having, but issues here need to identify a bug/problem, provide steps to reproduce the bug, and then provide the full config and events array to reproduce the error.

At first glance it doesn't appear that you're experiencing a bug, an

[2016-05-30 14:14] mikegioia commented on #258
Hi @Harshali39, please use Stack Overflow or a similar Q&A site for any questions :) We're keeping this to bug reports only.

[2016-05-30 14:14] #258 closed

[2016-05-30 14:15] #256 closed

[2016-05-30 16:00] yashilanka commented on #262
ok thank you for the feedback, and one last question, how to get today only event list and count. is there a native method. I want to show them in a separate div. is this can do?. also is this information available in callback events.

[2016-05-30 16:07] yashilanka opened #263 "Hover Event on event days"
Hi is there a hover event other than click event that we can use to show event information within popover or modal window. I know this can be done easily within click event, but I need to use hover for that.. so is this can do natively on clndr

[2016-05-30 16:08] mikegioia commented on #262
I would say to just please read through the extensive documentation on the main page. What you're trying to do is not natively supported (i.e. there's no getTodaysEvents() API method) but what you have access to is a) your original events array, and b) the events objects in the template. Since CLNDR is based on a template, you could add the day's events to the DOM somehow in your template, or you

[2016-05-30 16:08] #262 closed

[2016-05-30 16:09] mikegioia commented on #263
Please @yashilanka, these questions are for a Q&A site like Stack Overflow. Please use another service for these types of questions :D

[2016-05-30 16:09] #263 closed

[2016-05-30 17:54] yashilanka commented on #263
Oops sorry my mistake.. Thank you. I'll find a solution

[2016-06-02 22:18] angelaamongstrangers opened #264 "how to integrate clndr to wordpress theme roots-sage?"
Hello!
Would you be able to help me, I'm new to wordpress and im using the roots.io sage theme for a project. how do i integrate the clndr.js as a plugin?

[2016-06-15 11:32] andie-chernysh commented on #193
Facing the same issue. It's great there is a workaround using the API methods, but that's definitely not a fix, and the bug remains.

[2016-06-28 09:28] sagarrayudu opened #265 "How to include it as commonjs module in nodejs ?"

[2016-06-29 13:29] mikegioia commented on #264
Hi @angelaamongstrangers, unfortunately this Issues list is for bugs only. I think you would have more luck at something like Stack Overflow :)

[2016-06-29 13:29] #264 closed

[2016-06-29 13:31] mikegioia commented on #265
@sagarrayudu Multiple loading methods are supported depending on your environment. There's support for CommonJS but this issues list is for bugs only unfortunately. You might have better luck at something like Stack Overflow :)

[2016-06-29 13:31] #265 closed

[2016-06-29 13:31] mikegioia commented on #250
Closing this as it's gone stale

[2016-06-29 13:31] #250 closed

[2016-06-29 13:57] mikegioia commented on #229
@whatnickcodes This was now added in 1.4.2.

[2016-06-29 13:57] #229 closed

[2016-06-29 13:58] #231 closed

[2016-06-29 14:04] mikegioia commented on #236
@karl-sjogren I just updated the Readme with a link to your project: https://github.com/kylestetz/CLNDR#template-rendering-engine

[2016-06-29 14:04] #236 closed

[2016-06-29 14:04] mikegioia commented on #235
This is added in the Readme

[2016-06-29 14:04] #235 closed

[2016-07-02 13:56] mikegioia commented on #161
I just checked and CLNDR is added to and updating at CDNJS. I think @PeterDaveHello was the one who originally set it up so thank you! This looks to be auto-updating as well, since 1.4.3 is now in there. Closing it out!

[2016-07-02 13:56] #161 closed

[2016-07-02 13:59] mikegioia commented on #97
Closing this out as it's gone stale, but for anyone who finds this feel free to re-open it and (ideally) submit a PR. While I do think this is out-of-scope and can be managed more effectively and uniquely with the current set of event callbacks, we'd always welcome a clever/simple  solution :stuck_out_tongue:

[2016-07-02 13:59] #97 closed

[2016-07-02 14:03] PeterDaveHello commented on #161
np

[2016-07-02 14:08] mikegioia commented on #196
I've re-tested this in FF with the latest libraries and can't recreate it at all. I've tried changing to many different timezones and the calendars render correctly in FF and Chrome on linux. I'm going to close this as it's gone stale (11 months) but @alepaez please feel free to re-open this if you can recreate it with the current, up-to-date libraries and can provide the full environment info.

I

[2016-07-02 14:08] #196 closed

[2016-07-02 14:12] mikegioia commented on #237
@anthonyhorne Are you able to send a sample array of event data, and a sample config for me to plug this into the browser and replicate? I'm having trouble understanding the issue unfortunately, and I fear it might be due to having two competing timezones in your application.

I'll leave this open for a few weeks to allow you to send over any replication info, but I'll need that (preferably a JSBi

[2016-07-02 14:12] #257 closed

[2016-07-02 15:53] mikegioia commented on #234
@Ane-tta Sorry for the long delay in this, but I pushed up a fix in #269. If you are able to, could you please pull that branch and test your app against it? I'm almost certain it's 100% working, as I tested it in the test file after re-creating your bug, but if you're able to confirm it I'll compile this directly to 1.4.4. Thanks again for reporting the bug.

[2016-07-02 16:27] mikegioia commented on #189
@kevin93w I just now opened this back up in IE on Win11 and still couldn't replicate any errors. Nothing in the tests broke except for in IE8 (which I can no longer support anyway). I just can't see any issues here in IE. I pulled the now latest 1.4.3 and ran the tests and I'd invite you to do the same.

At this point, I'll need something in JSBin or JSFiddle that I can open in a browser and edit

[2016-07-02 16:32] mikegioia commented on #234
This is up in 1.4.4. It works :P

[2016-07-02 16:32] #234 closed

[2016-07-02 19:31] anthonyhorne commented on #237
@mikegioia Attached is the full example I used - working.  Does NOT work in edge, but works in Firefox (latest) - uses cookies for the array list Meeting / calendar data.  If you choose Jan 2016 (when I did the dev), and choose a option from the combobox on the bottom, it will populate the calendar with events that you can click on which shows some items on the right of the calendar.   As I say, i

[2016-07-02 20:24] mikegioia commented on #237
Thanks @anthonyhorne. Just FYI you're using an old version of CLNDR (1.2.4) that was giving me errors with multi-dates as well in both FF and Chrome. When I upgraded to 1.4.4 (latest) those errors went away.

I opened your example with CLNDR 1.4.4 in IE Edge it worked :D Could you try it with that version?

[2016-07-04 03:30] tobz-nz opened #270 "day is not defined"
#### Context
Hi, I'm getting the error: `ReferenceError: day is not defined`.
My code:

[code]

#### Expected Behavior
Should not error and should render the provided template.

#### Your Environment

* Version used: 1.4.4
* Browser Name and version: Firefox 48b5
* Operating System and version (desktop or mobile): macOS 10.11.5
* Link to your project:

[2016-07-04 11:56] mikegioia commented on #270
@tobz-nz I can't seem to recreate this one. The template you have looks fine and when I run it with a basic CLNDR instantiation it runs ok.

I can tell you though (and this might not be your error) that you can't define a JS string that way, but instead need to suffix each line with "/" or use string concatenation. But everything here looks good.

If you can recreate this in an environment like JS

[2016-07-04 21:02] tobz-nz commented on #270
Hi Mike, I got it going by hard-coding the string using backtick's (``` ` ```) to wrap the template string. So seems it was some issue with loading the template from the DOM. I can't think or figure out why it was breaking. but this solution works, so meh - I'll go with it. :)

[2016-07-04 21:02] #270 closed

[2016-07-12 11:09] MikeHarrison opened #272 "Add class to first and last days of Multi-Day Event"
Sorry this isn't a bug report but a feature request. The plugin is great, really easy to use. I would like, if possible, to add a class to the first and last days of multi-day events, to facilitate easier styling (they are 'changeover' days for holiday cottages in my example). Could be set something like the following perhaps?

[code]

Thanks again for a great plugin!

[2016-07-12 14:29] #272 closed

[2016-07-12 14:30] MikeHarrison commented on #272
Sorry - I realised that with a combination of underscore and moment I can identify the first and last days of an event, and add a class using a conditional

[2016-07-12 19:41] MikeHarrison commented on #272
No problem.

### Adding a class to the first and last days of multi-day events

I am working with a JSON array for the events, in this case bookings for a holiday cottage:

[code]

The CLNDR javascript is pretty standard:

[code]

Which is then rendered in the following underscore template:

[code]

The key part is this conditional:

[code]

Which adds the class of `start` to the `td` of the first

[2016-07-19 16:33] pollyontheweb commented on #231
I've managed to achieve this by only adding a few lines of code to the existing code. What I am doing and creating a varible with the selected date, then hiding all events by default and showing only the ones with the event day id.

Change the js click event to this:

`clickEvents: {
			  click: function(target) {
				if(target.events.length) {
				  var daysContainer = $('#mini-clndr').find('.day

[2016-07-22 09:09] PhpSriptKiddie opened #273 "Wrong date format"
Hey there.

I am using a danish locale (da.js) which defines L : 'DD/MM/YYYY' and translates everything into danish.

However, when I'm adding an event to my object array, the date is interpreted as MM/DD/YYYY instead - showing up in the wrong month of the calender.

How do I fix this?

[2016-07-22 11:32] mikegioia commented on #273
@PhpSriptKiddie Do you know which locale the moment library is using? CLNDR depends on Moment.js and uses an instance throughout. It _should_ autodetect your Danish locale, but you can always inject a localized copy of moment (configured by you) into CLNDR.

In the options when you instantiate CLNDR, you can pass it in like this:

[code]

[2016-07-22 11:33] mikegioia commented on #237
I'm going to close this out as its stale, but feel free to re-open the issue. I think it had to do with the old version though.

[2016-07-22 11:33] #237 closed

[2016-07-22 11:33] mikegioia commented on #189
I'm going to close this out but feel free to re-open it if it's still an issue for you.

[2016-07-22 11:33] #189 closed

[2016-07-22 13:42] PhpSriptKiddie commented on #273
Thanks a lot for your answer. I have just tried doing as you described, but that throws me an error: clndr.js:1555 Uncaught TypeError: moment is not a function. The line in questions is the following:

`moment(events[i][multiEvents.singleDay]);`

I initalized my moment object like this:

`var momObj = moment.locale("da");`

[2016-07-22 13:51] PhpSriptKiddie commented on #273
Upon updating to newest versions of clndr and moment, I get the following error instead:

`Uncaught TypeError: b is not a function`

from clndr.min.js

[2016-07-22 14:30] mikegioia commented on #273
Can you paste your entire configuration lines? I just want to see what object you're passing in to the `moment` config parameter. (You have it commented out FYI).

[2016-07-22 14:33] PhpSriptKiddie commented on #273
This is my entire code at the moment. The PHP code in the middle is just adding events that have been filled in with WordPress Advanced Custom fields:

[code]

[2016-07-22 14:41] mikegioia commented on #273
You might have more luck at StackOverflow, but the answer could be here somewhere: http://momentjs.com/docs/#/use-it/require-js/

I think what you're storing in momObj is not the moment object. Could you try `var momObj = moment.locale("da")` instead? I think that might help it.

[2016-07-22 14:44] PhpSriptKiddie commented on #273
I have tried both forms of momObj - both the one I'm using, and the one you propose. Unfortunately, none of them works :-/

[2016-08-02 13:20] mikegioia opened #274 "Publish to NPM"
This is a reminder that 1.4.6 isn't published to NPM right now.

cc @kylestetz If you see this before Friday, would you mind pulling and pushing to NPM? My computer for the week is too old :cry:

[2016-08-02 13:31] kylestetz commented on #274
Done :+1:

[2016-08-02 13:31] #274 closed

[2016-08-03 15:59] extravaganza47 opened #275 "Get next date with events"
Hi,

I've been wondering if it's possible to get and display the next date with events?

Ex:
"The next event will be on 2016-08-30"

Thanks.

[2016-08-09 08:16] Kyderman opened #276 "Getting up and running with Node"
Hey,

Im working with Node and am having issues getting the calendar to display at all.

Can you provide some sort of example for getting the calendar to display on Node?

[2016-08-09 08:29] #276 closed

[2016-08-09 08:30] Kyderman commented on #276
Im just plain stupid, ignore me.

[2016-08-11 12:07] casecamp opened #277 "Rails 5 support"
If i include clndr-rails in rails 5 project and run bundle install I am getting the following error

[code]

[2016-08-11 12:08] #277 closed

[2016-08-11 12:09] casecamp commented on #277
Closing this since it is relates with clndr-rails gem

[2016-08-16 23:14] Brugman opened #278 "Can 1 calendar use multiple templates?"
Desired layout: http://i.imgur.com/OhUAtqS.png

The month view and list view are separated. Can this be done with one CLNDR? Wrapping the entire row with the text/template script tag didn't work.

If not I'll run multiple with the same source and combine the prev/next buttons as mentioned in #40 & #46.

[2016-08-16 23:34] kylestetz commented on #278
One calendar instance won't support two different templates, so your best bet is to use two clndr instances with some shared event handling to make sure both calendars move in sync with each other.

I would suggest saving the clndr instances (e.g. `var eventsView = $('#events-view').clndr({ ... })`) and making previous/next button event handlers that call `.previous()`/`.next()` on both of them to

[2016-08-16 23:34] #278 closed

[2016-08-24 08:17] PhpSriptKiddie commented on #273
I managed to solve most of my problem by inserting the dates in MM/DD/YYYY format. Now they are shown correctly in the calender, but I need to change the format in the 'events this month' box.

When I do the following:

[code]

Everything is shown correctly. However, I only need to show only one of the #event-item-date div's. I don't really understand the whole <% annotation, but can I somehow imp

[2016-08-24 08:21] PhpSriptKiddie opened #279 "If-sentence in event listings"
Hey there.

I have have an 'events this months' box, where I have added both single and multiday events:

[code]

Is it possible to implement an if-check that only shows either the single date or the multi date? Ie, I need to check whether event.date or event.start/event.end are empty, and dont show the corresponding dates. How do I implement an if-check in the <% annotation?

Thanks!

[2016-08-27 20:40] Captain-GaDo opened #280 "eventsThisDay"
Do you have a "eventsThisDay" function? I want to list all the available hours in X day when i click it on the calendar.

Thanks

[2016-08-28 10:48] mikegioia commented on #280
@Captain-GaDo Unfortunately we do not, but you can achieve what you want with your template.

Also, the issues here are only for bugs :)  https://github.com/kylestetz/CLNDR#submitting-issues

[2016-08-28 10:48] #280 closed

[2016-08-28 10:49] mikegioia commented on #275
Sorry @extravaganza47 you can't, but you are free to implement that in your template.

Also, for the future this issues list unfortunately is only for bugs :) https://github.com/kylestetz/CLNDR#submitting-issues

[2016-08-28 10:49] #275 closed

[2016-08-28 10:51] mikegioia commented on #279
Hi @PhpSriptKiddie , I think you can do that in your template, but you might have better luck at a place like Stack Overflow. Unfortunately is only for bugs :) https://github.com/kylestetz/CLNDR#submitting-issues

[2016-08-28 10:51] #279 closed

[2016-09-10 03:58] melanke commented on #193
I think I made a Kludge, I will not say the problem was solved

[2016-09-23 00:10] krokofant commented on #273
As per the momentjs docs one should change the global locale like `moment.locale('da')` which is not to be used as a moment object. Instead the method is used to just set the locale globally then you'd use the global `moment`.

If you want a local version to just pass onto clndr then you could use:
[code]
Different from the @mikegioia suggestion is only the `()` efter moment.

[2016-09-29 06:39] rafaelhc opened #283 "Scrollable "Events this month" list"
I do not have a bug report, but would like to ask for guidance for a specific functionality, using CLNDR.

I would love for the "Events this month" to be a scrollable list, containing all your events (Jan to Dec). When you for example scroll from an event that is in September to an event in October, the calendar would change month accordingly. When changing month in the datepicker itself, you woul

[2016-09-29 23:52] qwertyuu opened #284 "Wrong dates even in the live demos"
#### Context

I went to http://kylestetz.github.io/CLNDR/ and the dates shown on the calendars are wrong
#### Expected Behavior

CLNDR should at least show the right dates, or fit the native Windows calendar
#### Actual Behavior

![wrong dates](https://cloud.githubusercontent.com/assets/3145639/18976191/00445d08-867e-11e6-80b7-5f0c251603df.JPG)
The bottom line of the calendar showing dates for the

[2016-09-29 23:54] mikegioia commented on #284
Thanks @qwertyuu. I'll try to check this out today or tomorrow.

[2016-10-03 13:12] mikegioia commented on #284
Sorry for the delay, I'm going to try to look at this today.

[2016-10-03 16:02] mikegioia commented on #284
Ugh this is even more annoying because I can't reproduce it in the test file >_<

I'll have to mimic the configuration from Kyle's website.

[2016-10-03 16:12] mikegioia commented on #284
@qwertyuu I think this was because gh-pages used version 1.2.6 (way old). I just updated it to the latest version of CLNDR and it looks like it's working: http://kylestetz.github.io/CLNDR/

What I would ask, if you're able to recreate the error in the test file first that would be helpful. I'll have to be more mindful about updating CLNDR in the github pages branch in the future though.

[2016-10-03 16:13] mikegioia commented on #283
Sorry @rafaelhc the issues here are only for bugs. We sadly don't have time to give feedback or answer implementation questions :( You might have more luck at Staff Overflow.

[2016-10-03 16:13] #283 closed

[2016-10-04 07:17] long-lazuli commented on #284
related to #282

[2016-10-14 13:31] schester44 commented on #280
This feature should be implemented.

[2016-10-23 05:34] ZeoNish opened #285 "Weekly display days?"
Can I set weekly elimination days? Thank you.

[code]

ps. Very cool made your calendar :-)

[2016-10-26 11:41] 992forever opened #286 "How to manually reload the presentation of the calendar"
#### Context

#### Expected Behavior

#### Actual Behavior

#### Possible Fix

#### Steps to Reproduce

1.
2.
3.
#### Your Environment

- Version used:
- Browser Name and version:
- Operating System and version (desktop or mobile):
- Link to your project:

[2016-11-04 16:03] rexxnar opened #287 "lengthOfTime weekOffset bug"
#### Context
I was setting up a calendar starting of for example at friday, and start day is a friday so you expect the calendar to start at friday top, and date friday.

#### Expected Behavior
![screen shot 2016-11-04 at 16 59 20](https://cloud.githubusercontent.com/assets/10832606/20012560/145055ce-a2b0-11e6-924f-ed59c62764df.png)

#### Actual Behavior
![screen shot 2016-11-04 at 17 00 03](https

[2016-11-24 08:53] GreatWizard opened #288 "Previous month dates are broken with momentjs 2.17.0"
Some dates are broken with the last version of momentjs (2.17.0).
I have `NaN` dates for date in the previous month.

#### Context
After digging a bit, I found this patch in the momentjs library in the 2.17.0 changelog:
https://github.com/moment/moment/pull/3506/files#diff-e792da0601bb2705000e86ef203f8e73R64

#### Expected Behavior
Correct dates of the previous month.

#### Actual Behavior
Date of

[2016-11-26 16:05] kylestetz commented on #288
Closed with #289. Thanks!

[2016-11-26 16:05] #288 closed

[2016-11-30 14:15] kimroen commented on #136
The call to action for this issue on the marketing page could probably be changed or removed at this point! (https://kylestetz.github.io/CLNDR/)

[2016-12-01 19:23] mikegioia commented on #136
@kimroen I just removed it now :P

[2016-12-01 19:24] #286 closed

[2016-12-01 19:25] mikegioia commented on #285
Sorry @ZeoNish, these issues follow a specific template and are used for bugs only. You might have more luck at a Q&A site like Stack Overflow :)

[2016-12-01 19:25] #285 closed

[2016-12-01 19:27] mikegioia commented on #287
This is interesting and it's a good find. I think I know what the problem is but I might not be able to look at it until the weekend. Sorry for the delay here.

[2016-12-01 19:27] mikegioia commented on #284
I can't recreate this and I think it's gone stale. I'm almost positive this was related to an old version of the library.

[2016-12-01 19:27] #284 closed

[2016-12-01 19:28] mikegioia commented on #273
I'm going to close this out, but perhaps the docs could be updated to make this clearer?

[2016-12-01 19:28] #273 closed

[2016-12-14 23:29] dpoindexter opened #290 "v1.4.7 has not been published to npm"
#### Expected Behavior
`npm install clndr` installs v1.4.7

#### Actual Behavior
`npm install clndr` installs v1.4.6

`npm info` only shows versions up to 1.4.6, so it looks like 1.4.7 just needs to be published.

[2016-12-14 23:33] mikegioia commented on #290
Just updated it: https://www.npmjs.com/package/clndr

[2016-12-14 23:38] #290 closed

[2016-12-15 00:10] kylestetz commented on #290
My fault! Sorry! Lost the commit checklist I used to keep around 😬

[2016-12-28 07:58] CookieMichal opened #291 "Selected class not being applied"
#### Context
Selected class isn't correctly applied, when changing month by clicking on a day of the next month. It automaticaly fixes itself when changing month back and forth using <kbd><</kbd> and <kbd>></kbd>, or when `.render()` is triggered.

#### Actual Behavior
![behavior](https://vgy.me/gSBOez.gif)

#### Steps to Reproduce
1.  Setup new calendar with
[code]
2. Find a month that doesn't en

[2017-01-06 10:02] Pinguwien commented on #144
Thank you guys, this thread just helped me out :)
For me, it was the weekoffset of clndr (older version 1.2.0 atm), which was actually set to 'Monday', but instead just started on Sunday. After removing this option from my clndr-config, it all worked out well :)

[2017-01-19 12:55] alexalexalex-s opened #294 "30x performance improvement on target.events filter function"
I think you can dramatically improve the speed of the `filterFn` within the `buildTargetObject` method by using a date intersect check instead of `isSameStart`, `isAfterStart`, `isSameEnd` and `isBeforeEnd`.

The relevant code is on line 1006. On an events list of 3000, the current code completes the filter in around 130ms vs the intersect code at around 4ms. I might've missed something, but so fa

[2017-01-19 14:17] alexanderschana commented on #294
The same intersect can also be applied in the `Clndr.prototype.createDayObject` method.

Using a list of 3000 events, the original render time was over 2 seconds, using the intersect it's down to 200ms.

In the monthEvents loop, replace:
`if ( (day.isSame(start, 'day') || day.isAfter(start, 'day'))
                && (day.isSame(end, 'day') || day.isBefore(end, 'day')) )
            {

[2017-01-19 14:20] kylestetz commented on #294
This sounds interesting @alexanderschana — want to put together a PR?

[2017-02-08 11:29] asantos00 commented on #149
Is it still considered an issue? Or is it supposed to be handled by someone who uses CLNDR?

[2017-02-08 13:17] friedemannsommer commented on #149
@alexschomb yeah you're right there should be a universal solution. But i think it would be better if CLNDR doesn't handle this.

[2017-02-09 13:41] cannap opened #297 "[Success] Tested with ES6(2015) Template Strings"
Hi just want to tell i use ES6 Template String and it works fine!

I added Prev/Next month marked events when they are today or in a date range  and wrapped weeks in a week div for simpler usage with flexbox

[code]

[2017-02-09 15:18] enthuzy opened #298 "events-list not clearing on pjax-loaded page"
#### Context
The initial render of the events-list is fine (eventsThisMonth, eventsLastMonth, etc). When navigating away from the page that clndr is loaded and coming back with the back button or menu (using ajax), the list duplicates in all timeframes. I've tried clearing the list on page load through the DOM, but it seems this list is built before render. Also tried setting the eventsThisMonth,

[2017-02-09 16:00] mikegioia commented on #298
Thanks for the report @enthuzy. However, I think you'll have to either provide something like a JS Fiddle or possibly take it to Stack Overflow. I'm unsure what the bug you're describing is, but at first glance it appears to be application-related.

[2017-02-09 16:03] mikegioia commented on #291
Thanks @CookieMichal this is an interesting one. It probably has something to do with either the events not triggering / not in the right order, or the render from changing month happening after the selected class is applied.

If you're able to find this one and submit a PR I would appreciate it. Otherwise I'll have to check it out over this or next weekend.

[2017-02-09 16:04] mikegioia commented on #297
Thanks @cannap that's good to hear. I'm going to close this but people can find it if they're searching for ES6 in the closed issues.

[2017-02-09 16:04] #297 closed

[2017-02-10 02:27] enthuzy commented on #298
resolved it. Thanks! (definitely not a bug)

[2017-02-10 02:27] #298 closed

[2017-02-13 22:23] ebadgh opened #300 "Next Month Not Work"
When i using mini-calendar in my computer or on your official website, and click on Next month button, my Browser get hanged and can't run next month calendar.

I use Firefox Windows Latest Version

[2017-02-14 19:29] manojkalaivanan opened #301 "for..in loop crashes on months object array"
### Context
#### Where is the bug?
[Here](https://github.com/kylestetz/CLNDR/blob/master/src/clndr.js#L749-L751).

#### Description:
`for...in` iterates over all enumerable properties, not just the array's elements ([Ref](http://adripofjavascript.com/blog/drips/the-problem-with-for-in-and-javascript-arrays.html)).

 In our use case, We have a function `move` attached to all the Array objects. `for

[2017-02-14 19:37] mikegioia commented on #301
@manojkalaivanan I like this and I appreciate you filling out the bug form. My last ask is if you could submit this fix as a PR?

[2017-02-14 19:37] mikegioia commented on #300
This needs to follow the new issue template

[2017-02-14 19:37] #300 closed

[2017-02-14 19:40] ebadgh commented on #300
This issue is clear bug of script that didn't need any more explain

[2017-02-14 19:43] criztovyl commented on #300
I can't reproduce on FF ESR (45.7.0) on Debian Stretch, it's not that simple.

[2017-02-14 19:46] mikegioia commented on #300
When submitting issues it needs to follow the format that we've set up.

[2017-02-14 20:03] manojkalaivanan commented on #301
@mikegioia Done. Here is the PR https://github.com/kylestetz/CLNDR/pull/302.
Thanks!

[2017-02-20 15:35] MichaelRosmane opened #303 "Different calendar view in different browsers"
### Context
I'm using CLNDR to display a booking overview for a property rental place. I populate an array with booked dates when loading the page and use that array to display days green/red in 3 CLNDR instances, each showing a different month. The 3 instances are using the same events.

The 3 instances are linked by monthchange events to change accordingly when 1 changes.

Any pointers as to whe

[2017-02-20 15:53] mikegioia commented on #303
Thanks for the detailed report @MichaelRosmane. I appreciate this, however we can't debug code like this because I can't access it, modify it, or guarantee that this isn't a dependency issue or mistake.

If its possible, can you recreate this in a JSFiddle? We need to remove all possible dependencies to confirm that it's in fact a bug and not something else. The suggested way to stage this would b

[2017-02-20 16:01] MichaelRosmane commented on #303
I'll look into setting up a fiddle first thing tomorrow. Thanks for getting back to me so quickly.

[2017-02-21 08:27] MichaelRosmane commented on #303
As promised: [FIDDDLE](https://jsfiddle.net/michaelrosmane/upo75fqw/5/)

I used the cldnr, jquery, underscore & moment files used on the actual project. I also added some minor styling to visually illustrate the issue.

As you asked, the first calendar drops the 'eventsThisInterval' to console on each month change.

if you need any further information, please let me know.

[2017-02-21 12:36] mikegioia commented on #303
At first glance the only config issue I notice is that you have multi-day events enabled but no startDate or endDate properties on any of the events. That shouldn't matter for this problem though.

I see moment is throwing some errors, which may or may not be related, but I notice that `eventsThisInterval` always contains all 52 events on every month. It also doesn't appear that any of these event

[2017-02-21 12:52] MichaelRosmane commented on #303
Ah, something I failed to mention earlier, when you go all the way to october, IE & safari do show events that are correct, but that made it even stranger to me as why it wouldd only show a small subsit of events.

Anyway... I'll look into adding the externals through CDN, downsizing the example & adding the extra logging.

I'll post a new fiddle when i'm ready...

[2017-02-21 13:28] MichaelRosmane commented on #303
@mikegioia new [fiddle](https://jsfiddle.net/michaelrosmane/upo75fqw/13/)

I added CDN for jquery, underscore & moment, clndr has extra logging in the block you asked for, and is hosted on server where project itself is hosted.

Also downsized the list of events to about 10 & removed everything but 1 calendar.

[2017-02-21 13:29] mikegioia commented on #303
Thanks @MichaelRosmane I should be able to check this out in the afternoon.

[2017-02-21 13:32] mikegioia commented on #303
@MichaelRosmane Ah I figured it out I think, it's the date format. If you change the months from "2016-4-10" to "2016-**04**-10" It should work. You'll need to format the months to always have 2 numbers, it seems to cause problems in IE/Safari. This explains the moment() deprecation warning in the console too.

[2017-02-21 13:46] mikegioia commented on #301
Merged into master

[2017-02-21 13:46] #301 closed

[2017-02-21 13:47] MichaelRosmane commented on #303
Ah that would also explain why october does display it's events.

I added the leading zeroes & the issue is resolved. Thanks for helping me figure it out!

Also thanks a lot for the swift follow-up.

[2017-02-21 13:50] #303 closed

[2017-03-24 16:39] eurolife opened #304 "moment is not defined"
I am using Foundation 6 dev env and am trying to use this plugin but I am getting the error 'Uncaught ReferenceError: moment is not defined'.  In hope that all I need to do is add the moment.js file to my config.yml file, I then get another error: 'Uncaught ReferenceError: exports is not defined'. Can you help.

[2017-04-17 23:42] cdvrooman opened #305 "TypeError: xxx.setExtras is not a function"
I am deleting a holiday from my database table with ajax and on success I delete that particular id from the days array and then update the list of "days" via calendar.setExtras();

Here is the (simplified) code used to instantiate clndr:

[code]

The easiest way to replicate the error is to immediately call:
calendar.setExtras();
or
calendar.setExtras({ days: {"71":"2017-04-29"} });
or
calendar.s

[2017-04-22 21:43] criztovyl commented on #305
`setExtras` isn't yet released ([as of 1.4.7](https://github.com/kylestetz/CLNDR/compare/1.4.7...master#diff-04c6e90faac2675aa89e2176d2eec7d8R599)), make sure you use the files from the `master` branch or at least ebb0edb99bf9d1fe327d0a08d8c599ac78fde33b.

[2017-06-06 14:13] moonye6 opened #306 "how to set the month to a number"
when i get month from the `month` , it returns a string like 'may' or 'june'.
 but what I expected is 5 or 6.
eg:
template: <%= year %> <%= month %>
2017 June
I wish is:
2017 6

[2017-06-23 18:10] Kaylo17 commented on #231
But what do you do if you have multiple events occurring on the same day?

[2017-06-30 03:20] LewisGauss opened #307 "Uncaught TypeError: $(...).clndr is not a function"
Hi I am trying to get CLNDR working for my ASP.net MVC app.

However, while trying to adapt the demo to my website for a trial run, I get Uncaught TypeError: $(...).clndr is not a function when the code is executing

`calendars.clndr1 = $('.cal1').clndr({`

I have all the dependencies loaded before the demo.js is ran,
`<script src="~/lib/jquery/dist/jquery.min.js"></script>`
`<script src="~/lib/mo

[2017-07-06 18:45] luchorengo opened #308 "Event list sorting"
Hi, excellent plugin!
Just wondering if it's possible to change the sort order in events list. I'd like to have them ordered by date ASC instead of date DESC like it's now.

Regards

[2017-07-06 18:47] mikegioia commented on #308
Hi @luchorengo, I think you can sort the events before they go into CLNDR. It should retain the same ordering.

Unfortunately this issues list is for bugs only. However if you find you're feature request is not satisfied by CLNDR, we are more than open to accepting PRs!

[2017-07-06 18:47] #308 closed

[2017-07-06 18:48] mikegioia commented on #307
Sorry @LewisGauss , these GH issues need to be in a certain format and it's only for bug submissions :(

You might have better luck with this on a QA site like Stack Overflow.

[2017-07-06 18:48] #307 closed

[2017-07-06 18:50] mikegioia commented on #305
@cdvrooman Is this still an issue? It looks like `setExtras` is exposed publically.

cc @criztovyl (thanks for the first response)

[2017-07-06 18:50] mikegioia commented on #304
Sorry @eurolife, we're only using GH for proper bug reports. You might have better luck on a QA site like Stack Overflow.

[2017-07-06 18:50] #304 closed

[2017-07-07 11:21] criztovyl commented on #305
As far as I can see, `setExtras` is still not released, see [this 1.4.7. vs master diff](https://github.com/kylestetz/CLNDR/compare/1.4.7...master#diff-04c6e90faac2675aa89e2176d2eec7d8R599).

I think the problem here could be that when you use bower or npm, by default you will only install the latest release, which is 1.4.7 atm, so you won't get `setExtras`.
Correct me if I'm wrong ^^

Also, `setE

[2017-07-07 11:41] criztovyl commented on #305
Re `clndr.min.js`: The problem could be that you refer to that file as the "production download", which may be misleading as I would expect the production version on the master branch as the current state-of-the-art, simply compressed.

[2017-07-07 12:37] mikegioia commented on #305
Ok. I guess it must have missed the minification. I'll recompile it and push a new update.

[2017-07-31 00:27] skygate2012 opened #309 "Load events data from json file"
[code]
JSON file
[code]

Is the code above correct? The json was loaded but nothing happened to the calendar.

[2017-08-03 13:16] palerdot opened #310 "Update website with full set of options from github documentation"
[Plugin Website](http://kylestetz.github.io/CLNDR/) does not include all the possible options mentioned in the github repo. It is very confusing as lots of options is missing in the website.

#### Expected Behavior

The website should mirror the full set of options from github and viceversa

#### Actual Behavior

Website has only few options listed. Lots of important options are missing like `sele

[2017-08-09 23:41] seo2 commented on #231
If you have multiples events on the same day use a class instead an ID.
Like this:

`									<div class="events-list">
										<% _.each(eventsThisMonth, function(event) { %>
											<div class="event eventday event-<%=moment(event.date).format('YYYY-MM-DD')%>">
												<a href="<%= event.location %>"><%= moment(event.date).format('DD/MM') %> - <%= event.title %></a>
											</div>

[2017-08-21 17:05] atilkan commented on #233
How can i get if the event is triggered or clicked?
I can't send parameters like usual jquery way.
ForEx:
`$('#btn').trigger('click', true)`

[2017-08-21 17:09] atilkan opened #311 "Clicked or Triggered"
How can i get if the event is triggered or clicked?
I can't send parameters like usual jquery way.
ForEx:
$('#btn').trigger('click', true)

[2017-09-22 09:01] fractalf opened #312 "Week numbers"
Is there any way to get week numbers (1, 2, .. 52..) into the calendar?
Would be great with these settings:
[code]

[2017-09-22 11:06] mikegioia commented on #312
@fractalf Please check the docs/Readme, you can do that in your template :)

[2017-09-22 11:06] #312 closed

[2017-09-22 11:07] mikegioia commented on #311
Hi @atilkan you might find more luck on a q&a site like stack overflow :) This issues list is for bug reports.

[2017-09-22 11:07] #311 closed

[2017-09-22 11:09] mikegioia commented on #309
@skygate2012 The only issue I see is that you're CLNDR instantiation code needs to go in the `.done` call of the ajax request. You're initiating an async request for `json` but then are using it immediately, before it has a value, in the CLNDR instantiation call.

If you run into any other issues, Stack Overflow might be a better place to ask as this Issues list is for bugs reports.

[2017-09-22 11:09] #309 closed

[2017-09-22 11:10] mikegioia commented on #310
@palerdot I'd love a PR for this but sadly it would take a good amount of effort to make that happen :(

I'm going to mark this as closed as it's not a bug with the library and we're using this issues list for bugs only.

[2017-09-22 11:10] #310 closed

[2017-09-23 06:43] palerdot commented on #310
@mikegioia let me see if I can come up with a pull request for fixing this issue.

[2017-09-25 07:29] fractalf commented on #312
@mikegioia Thank you for a quick response! :)
I have scanned the docs/Readme several times on this already, are you sure it contains any information about how to the the **week number** ? Did you mean by using the moment lib?
I know it contains the *lengthOfTime* which I used as an example above, but not how to get the week number..

[2017-09-25 14:40] mikegioia commented on #312
Yea, unfortunately that's just the day of the week's name in there :( You would need to use the moment object in `intervalStart` I think.

[2017-09-28 04:43] criztovyl commented on #310
Just a quick side-note...

I think an issue with the documentation is similar to a bug in the library itself so it shouldn't be closed yet. (In contrast to Q&A, which really is not a bug.)

[2017-10-05 19:44] Erick-Zanetti opened #313 "Repeated days"
When creating the calendar in the month of October is repeating some day in every year, what could cause this.

![img_7801](https://user-images.githubusercontent.com/29898441/31249061-53beb554-a9ec-11e7-9275-b2f12934d6ac.JPG)

![img_7802](https://user-images.githubusercontent.com/29898441/31249060-53bdbdac-a9ec-11e7-887b-1346c000f56e.JPG)

![img_7803](https://user-images.githubusercontent.com/2989

[2017-10-09 00:57] leandrodiniz commented on #313
Same here, it's happening on Safari and Firefox. It's look like an old issue: #196

Maybe, Airbnb is using the same plugin 😄

![image](https://user-images.githubusercontent.com/1706703/31322713-6e3a0e7c-ac73-11e7-8c3e-5c488c18bab0.png)

[2017-10-10 12:06] mikegioia commented on #313
Thanks for the updates. I think this is a bug in the Moment library :( Unfortunately I don't have time this week or next to really debug it.

[2017-10-10 23:21] Erick-Zanetti commented on #313
I solved this problem including a for to check if there is repeated data and play to the end of the array, bet with invisible session css days after 31. Not the perfect solution but can help you.

[2017-10-10 23:26] Erick-Zanetti commented on #313
I solved using a for to compare the dates and check the repeated and place to the end of the list, and with css hidden the days that are not part of the month. Not is the perfect solution but help

[2017-10-11 00:17] mikegioia commented on #287
I finally got a PR together, with tests, for this issue. I sent a review request to @kylestetz just to get a pass-over, but it's probably not necessary. @rexxnar If you have time and are willing to pull that branch, then I could also fast-track it into master that way as well.

[2017-10-11 02:28] #313 closed

[2017-10-20 12:58] sahibhuseyn opened #316 "Next Previous year instantiate"
I want to add next and previous year buttons, I do this one, but the problem is that,
when next year button clicked it is not impossible return to previous button or dont fire these instantiate more than one

Here is my code:

var theCalendarInstance = $('#mini-clndr').clndr();

$('.year-next').off('click').click(function(el){
    // el.preventDefault();
    console.log('n');
    theCalendarInstan

[2017-12-19 12:38] martinmurciego opened #317 "How add columns/rows for resources"
Greetings. I do not know much about underscore templating I'm studying it. But I ask how to make a calendar that besides events include columns of resources such as columns and additional rows: rooms / auditoriums as full calendar premium in its scheduler functionality???

[2018-01-10 07:17] sakshij opened #318 "Is there a timezone support for this library ?"

[2018-01-15 08:37] skygate2012 opened #319 "How do I use two arguments in the template?"
[code]
I want to call `event.part` in the day class, but putting `day` and `event` inside an array doesn't seem to work. Please help me.

[2018-01-21 21:38] riccardocentra opened #320 "Multiple events in a day"
Hello!

It is possible to have multiple events in a day?

[2018-01-25 12:57] mikegioia commented on #318
Moment is used for all timezone stuff

[2018-01-25 12:57] #318 closed

[2018-01-25 12:58] mikegioia commented on #316
Hi @sahibhuseyn this issues list is for bug reports only, you would have better luck at a Q&A site like stack overflow :)

[2018-01-25 12:58] #316 closed

[2018-01-25 12:58] mikegioia commented on #319
Hi @skygate2012 this issues list is for bug reports only, you would have better luck at a Q&A site like stack overflow :)

[2018-01-25 12:58] #319 closed

[2018-01-25 12:59] mikegioia commented on #317
Hi @martinmurciego this issues list is for bug reports only, you would have better luck at a Q&A site like stack overflow :)

[2018-01-25 12:59] #317 closed

[2018-01-25 13:00] mikegioia commented on #320
@riccardocentra Yes you can. I would take a look through the documentation and if you still have any questions, Stack Overflow would be the best place to ask them. This issues list is for bug reports only :)

[2018-01-25 13:00] #320 closed

[2018-02-06 09:19] steinryan opened #321 "Display specific month"
is there way to display a selected month first time calendar loading?

[2018-02-07 05:38] #321 closed

[2018-02-14 15:53] jpvanhoy opened #322 "onMonthChange and onYearChange appear to report the wrong month"
[disregard this message. If this had been an actual bug, you would have been instructed where to tune in your area for news and official information.]

[2018-02-15 22:00] DasPartyEinhorn opened #323 "Multi day event, but not in a row."
Hi,
I really like this Plugin, it was so easy to implement a calendar for my needs.

But there is one feature left I'm missing. I would like to insert events that can occour on multiple days, but not in a row. More like a seminar that takes places in march and in september.
Of course I could insert them as two events, but when the dates lie in the same month the event gets listed double on the eve

[2018-02-28 08:45] irsyadadl opened #324 "Fuck This Shit Package. You published without fuckin css"
Fuck

[2018-02-28 11:50] #324 closed

[2018-02-28 11:51] #322 closed

[2018-03-07 13:23] h-enri opened #325 "apply different style depending on the events"
Hi,

I would like to be able to apply different style depending on the events.
By default, only the "event" class is added to the days.classes.

Do you know if there is a possibility to modify the calendar template or extend the events array to do that ?

[2018-03-08 16:09] h-enri commented on #325
ok, got it by reading previous issues.

[2018-03-08 16:09] #325 closed

[2018-03-19 08:04] philnickel opened #326 "Weekly Events"
Hey guys,

is it possible to show on the right side only the events for the week?

[2018-03-23 13:45] umrak11 opened #327 "Tooltip with Event name on mouse over."
Hello,
It's possible to do mouse over tooltip of event name with this library? I have events in json with title.

Thanks

[2018-04-25 06:47] anindyakm opened #328 "Weekly calender issue"
**Facing some issues with weekly calendar. Need help.**
I am facing issue when month change for week calendar current week contains date form 22nd April to 28th April when I click next to get next week dates it gives 29th and 30th April and 1st to 5th May clndr.js  each time check current month and generate dates for some situation week may contain dates for two consecutive months and that is why

[2018-04-25 11:48] mikegioia commented on #328
@anindyakm Unfortunately this Issues list is for bugs and all issues need to follow the template. You'll have better luck at a Q&A site like Stack Overflow, but my suspicion here is the start date constraint. Take a look through the tests in this repo to see how the weekly calendars work there.

[2018-04-25 11:48] #328 closed

[2018-04-25 11:49] mikegioia commented on #327
@umrak11 You can certainly do that but this library won't support mouseover tooltips.

[2018-04-25 11:49] #327 closed

[2018-04-25 11:51] mikegioia commented on #323
Thanks at @DasPartyEinhorn, unfortunately there are no plans to build this but I'll tag it enhancement for the future.

[2018-04-25 11:51] #323 closed

[2018-04-25 11:51] #326 closed

[2018-05-03 11:30] noahrama opened #329 "This Template is not working?"
[code]

According to the Documentation, this should work, yet it doesn't, and i have no idea why?

[2018-06-19 17:25] mbehzad opened #330 "custom `options.targets.day` is ignored and days which don't have the `day` class loose their `inactive` class"
#### Context

When `options.constraints` is provided, during the updating of the `inactive` classes on the calendars controls, the day elements are targeted when the `options.targets.day` is anything different than the default `day` value. This leads to the day elements loosing the `inactive` css class.

the user should be allowed to use its css class names when using the `targets` options.
and in

[2018-06-29 17:07] waltercruz opened #332 "It's possible to move self.options.clickEvents.click.apply(self, [target]); after setting the selected date?"
#### Context
Hi! I'm trying to get the current selected date on click event on calendar, using the clickEvents. But, the hook defined on clickEvents is called before setting the selectedDate, so the behaviour is that I don't get the selectedDate.

#### Expected Behavior
this.options.selectedDate should be reliable to get on clickEvents.click

#### Actual Behavior
this.options.selectedDate is errat

[2018-07-23 16:38] mikegioia commented on #332
Thank you @waltercruz , I'm going to try and run through / test this one out today. I appreciate the detailed and well-formatted write up :stuck_out_tongue:

[2018-07-23 16:39] mikegioia commented on #330
PR in #331, needs review

[2018-07-29 10:56] oguzhansari opened #333 "Previous and Next months appear. I just want to show the current month."
#### Context
Hi,
I do not want to show the previous and next months.
I use my own design.
I just want you to see the moon we find.
I am setting "showAdjacentMonths" to "false".
The data of the previous and next months do not come, but the element looks.

See Picture;
![clndr js-error](https://user-images.githubusercontent.com/13555457/43365418-7054ecf0-9335-11e8-8640-b7e89063ec8c.JPG)

What do I w

[2018-07-29 15:40] mikegioia commented on #333
@oguzhansari I can't confirm exactly what's going on but that doesn't look like the adjacent months at first glance. I would say though that this question would get more help at Stack Overflow. If you're able to trace the bug and can reproduce it in JS Fiddle, please resubmit it here.

[2018-07-29 15:40] #333 closed

[2018-07-29 23:54] oguzhansari commented on #333
Published the example in JSFiddle.
Link: https://jsfiddle.net/ax7f5046/

You have to give it a solution.
You are the manufacturer.
You should know the source better.

I do not want the days of the previous and next months to be displayed.
"showAdjacentMonths": false Do not you have to set this setting for me?

[2018-07-30 00:43] mikegioia commented on #333
@oguzhansari Please read the readme and follow the format for issuing bug reports. I don't have the time to read and digest this kind of a custom problem. Run through our tests, see if you can hit the error in there. If you can, re-issue a proper ticket using the issue template we have.

[2018-07-30 13:04] kylestetz commented on #333
Hey @oguzhansari, sorry for the confusion about `showAdjacentMonths`— clndr will always render a complete grid of days (e.g. complete rows of seven boxes), and `showAdjacentMonths` simply controls whether the date is visible within those boxes, or whether they are empty. This is not a bug and is by design; most calendars out there are rendered as a grid.

You can fix this issue by either adding a

[2018-07-30 17:40] oguzhansari commented on #333
@kylestetz Thanks.

"Display: none" is only hidden.
I've had problems with CSS ( example >   :nth-child(n+15)).
It's influenced by hidden elements.
I deleted the elements with the class name "empty". (JS: $('.day.empty').remove())
You can see my work here.
Video: http://sendvid.com/vhmtzoek

[2018-08-16 02:59] Xavier0818 opened #334 "how can i translate month into chinese?"
#### Context
i want translate month into chinese?but where can i insert into  the code?

#### Expected Behavior
month display chinese

#### Actual Behavior
month display english

[2018-08-28 12:26] LukeAtwill92 opened #335 "Have multiple classes for an events such as a class for a bank holiday and school holiday class"
Context
I'm looking to add multiple classes depending on the type of event i am i am assigning the date. But it is only taking the first class it reads and adding this to all dates.

Expected Behavior
To have a different class for each event type, one for bank holidays and one for school holidays.

Actual Behavior
Only uses the first class from the first date and assigned that to all events

Code

[2018-08-28 12:35] #334 closed

[2018-09-06 16:42] Vitaly9354 commented on #144
Thanks! Helped me out 👍
However it is a bit strange, yesterday my dates were fine. Today they have shifted for some reason so I applied weekOffset.

[2018-09-26 03:29] bgp1 opened #336 "Feature Request: Multi-day select"
I'd like the ability to be able to select multiple days at the same time. I'm thinking if [shift] is held down on select it doesn't do the default action but instead allows multiple dates to be selected. I was thinking only a range (think like 1st-5th) and not 1st, 3rd, 5th as the former sounds easier to accomplish.

[2018-09-26 11:49] JulianHodor commented on #335
Hey, don't know if this is still relevant, but i just stumbled upon the same problem. I would suggest another method:

Assuming you have your events list like this:

var eventslist = [
      {
    date: "2018-08-28",
    title: "Title",
    type: "event-type"
    }
];

you could use the "doneRendering" callback and attach a function adding your event-type as css classes to your calendar:

[2018-10-11 10:34] rameshkithsiri opened #337 "set month and year same time"
How to change month and year in the same time?
I am currently using
[code]
But i have an ajax event on `doneRendering`. When I change the days with above codes it loads ajax data two times.
I want a function similiar to `setYearAndMonth`

[2019-01-09 16:10] sumitsijaria commented on #320
Hi Team,

I understand this thread is closed, however I am facing issues with the same. When I am loading the calendar, I am setting an event for a day, lets say 21 Jan and now when I select the same day, I am setting another event and class.

Now while doing so, day is being repeated in UI. that it, same day being inserted in a DOM. Is it possible to have both events classes applied on a day.

[2019-01-10 09:31] sumitsijaria commented on #320
@kylestetz  Could you help on this.

[2019-02-16 20:02] Blackbaud-KimberlyHammer opened #338 ""Na" being displayed instead of previous month's dates"
#### Issue Being Reported
Notice that at the beginning of the month, the previous month's dates are showing as "Na" instead of the date. At the end of the month, the next month's dates are displaying properly.

![image](https://user-images.githubusercontent.com/7794396/52904432-3c9cba00-31fa-11e9-9e70-8c7d3c0add81.png)

#### Expected Behavior
I would expect the dates for the previous month to disp

[2019-02-23 23:43] gjwmvg commented on #338
Dear Blackbaud-KimberlyHammer,
it might be user fad115 found a solution for your problem. Look at [https://wordpress.org/support/topic/nan-in-adjecant-month-fix/](url)

[2019-05-27 13:12] medmaker1 opened #339 "Destroy Clndr In Internet Explorer IE 11"
Hello ,
I have this function in my project  and i want function to destroy clndr in IE 11
 function destroyClndrIFnotIE() {
    const ua = window.navigator.userAgent;
    const is_ie = /MSIE|Trident/.test(ua);

    if (!is_ie) $ffsCalendar.clndr().destroy()
  }

####  Environment
Hybris
* Version used:11
* Browser Name and version:IE
Thank youu

[2019-05-27 13:28] mikegioia commented on #339
@medmaker1 These GH issues are for bug reports :D What you posted looks correct but you might have syntax errors or something that prevents it from working. You might have better luck at a Q&A site like Stack Overflow.

[2019-05-27 13:33] #337 closed

[2019-05-27 13:48] mikegioia commented on #287
This is now finally after so long merged into master and deployed as version 1.4.8. Sorry for the incredible delay here.

[2019-05-27 13:48] #287 closed

[2019-05-27 14:12] mikegioia commented on #291
This is now fixed and deployed in 1.4.9!

[2019-05-27 14:12] #291 closed

[2019-05-27 14:26] mikegioia commented on #305
This is resolved, 1.4.8 and 1.4.9 at least have it.

[2019-05-27 14:26] #305 closed

[2019-05-27 14:27] #335 closed

[2019-05-27 14:29] mikegioia commented on #338
@Blackbaud-KimberlyHammer If this is still an issue for you, would you please mind doing the following things for me:

1. Upgrading to the latest version of clndr (1.4.9 right now)
2. Provide a configuration example directly on this issue.

I believe you that it's not working on your site but I'll need config to test with on my machine, and to be able to reproduce the error for testing.

[2019-05-27 14:30] mikegioia commented on #336
Thanks @bgp1, we're only using these issues for bug reports right now, but I'll log this on the future to-do list. I think the absolute fastest way to get this up would be to submit a PR.

[2019-05-27 14:31] #336 closed

[2019-05-27 15:40] mikegioia commented on #332
This is updated in a new release PR over at #340

[2019-05-28 23:56] #332 closed

[2019-05-29 00:01] mikegioia commented on #330
This is now resolved via #340 , I'm going to close the PR too

[2019-05-29 00:01] #330 closed

[2019-05-29 00:02] mikegioia commented on #294
I'm going to bring this back and re-submit as a new PR. I went through the proposal and it looks sound.

[2019-06-11 11:11] jaydeept4f commented on #337
Hello @mikegioia ,

I have one small question.

How can I `setMonth()` and `setYear()` without rendering ?

Thanks in advance.

[2019-06-11 14:19] mikegioia commented on #337
@jaydeept4f The calls to setMonth() and setYear() both call render() from within them. There's no real way to do that unfortunately.

[2019-07-15 11:23] aprat84 opened #342 "Generating `daysOfTheWeek` array with only first character"
https://github.com/kylestetz/CLNDR/blob/555cf44c19dbf719c559a3ae86314d3eae0c5a25/src/clndr.js#L348

When this plugin generates `daysOfTheWeek` array from momentjs localized `dd` format, it only considers the first character, even when it formats it with the "min" version from momentjs.

In Catalan, for example, every day name begins with same letter `d` (dilluns, dimarts, dimecres, ...), so I end

[2019-07-15 14:23] mikegioia commented on #342
@aprat84 That's a really good catch and I had never noticed or considered that before. I think we probably have to honor the `dd` format, however I think converting from one character to two is a breaking change :( We might be able to avoid the breaking change by adding a conditional check to see if the locale is != 'english'. Perhaps for now we use `dd` for anything non-English and then later on

[2019-07-15 16:02] kylestetz commented on #342
@aprat84 thanks for pointing this out, we definitely want to support more flexible day headers.

@mikegioia I like your idea! What if we take it a tad further and expose a function `formatWeekdayHeader` that exposes a moment object set to the correct weekday and allows you to return any string? That would allow you to run both `.format('dd')` or do some more complicated logic for a given locale (l

[2019-07-15 16:06] mikegioia commented on #342
Yea I think keeping the current as the default and adding the `formatWeekdayHeader` function is the best solution.

[2019-07-15 17:38] #339 closed

[2019-07-15 17:39] mikegioia commented on #338
Closing this since it seems stale.

[2019-07-15 17:39] #338 closed

[2019-07-16 10:51] aprat84 commented on #342
Thanks for fast reply!

I like @kylestetz's function idea best. It give us users 100% flexibility to choose whatever format fits better.

IMHO, in the future, I would use `dd` format as is, no matter the locale. That's what almost any other datepicker does (jquery-ui, bootstrap, vaadin, webix, kendo UI, ...)

[2019-07-17 16:57] kylestetz commented on #342
Yep totally hear you about using `dd` by default — this is a mistake of history (I had never worked in an internationalized codebase when I wrote this plugin!) but we also want to avoid thrash for existing users. Bumping to 1.6 and defaulting to `dd` seems reasonable. @mikegioia how does that sound?

[2019-07-17 17:38] mikegioia commented on #342
Sorry, @kylestetz I'm a little confused. Are we including the new option `formatWeekdayHeader` or just changing the code to remove the `.charAt(0)`? I usually tend to avoid at all costs anything that changes what is rendered but in this case I'll cede if you think it's just better to do and would fix more than it breaks.

[2019-07-17 18:29] kylestetz commented on #342
Sorry for the confusion: I'm still advocating for adding the `formatWeekdayHeader` option, but also changing the default value for _everyone_ to `dd` too if we bump to 1.6.0. If you have strong feelings about keeping the defaults as-is, though, totally fine by me.

[2019-07-17 18:42] mikegioia commented on #342
Thanks Kyle. Sorry for being so stubborn here, I just did a check in our app for work and noticed it would currently change the display unless I updated the config, and it made me think we could be doing that for other people. That coupled with the fact that OP and any current user can just use the `daysOfTheWeek` option to resolve this leads me to want to avoid a breaking change for something lik

[2019-07-17 18:47] kylestetz commented on #342
You're not being stubborn at all, thanks for clarifying! Your proposal sounds good.

[2019-07-17 18:54] mikegioia commented on #294
PR at #341 , I'll re-surface that this weekend and hopefully merge it in shortly after.

[2019-07-20 22:16] mikegioia commented on #342
@kylestetz I sent the small PR up here: https://github.com/kylestetz/CLNDR/pull/343

[2019-11-27 21:14] mikegioia commented on #342
@aprat84 @kylestetz This is now added to version 1.5.1, and updated in NPM!

[2019-11-27 21:14] #342 closed

[2019-11-27 21:19] mikegioia commented on #294
@alexalexalex-s Thank you again for your help, this has finally made it's way into production with #341. I'm going to close this one out.

[2019-11-27 21:19] #294 closed

[2019-12-07 18:40] KidA001 opened #346 "Styling/CSS Not showing"
#### Context
I'm using the Full Calendar Template from the first calendar on the http://kylestetz.github.io/CLNDR/ page, but do not see any styling. I'm unclear if I'm doing something wrong, or if no styling is included in the NPM package. Any help appreciated.

#### Expected Behavior
Expected to see styling similar to the first calendar at the top of http://kylestetz.github.io/CLNDR/

#### Actual

[2019-12-07 22:07] mikegioia commented on #346
@KidA001 Clndr doesn't come with any CSS or styling. The demo that you linked to uses custom styling that Kyle put together for that demo. All CSS and styling is left to the developer to do.

[2019-12-09 17:51] KidA001 commented on #346
@mikegioia I'm really bad at CSS, do you think we can get Kyle to style the calendar for my application?

[2019-12-09 17:51] #346 closed

[2019-12-09 17:57] mikegioia commented on #346
@KidA001 :D I doubt it but if you want something to start with, you can copy the CSS we use in the demo into your application. In this file, https://github.com/kylestetz/CLNDR/blob/master/demo/css/clndr.css#L62, lines 62 through 221 contain the styles for the large calendar (i.e. `.cal1`). You can see the mini-calendar styles are in there under `.cal2`. If you look at the source or with the web in

[2020-02-09 04:32] lexterror opened #347 "Can I have the mini-calendar without the full calendar?"
I wanted to know whether I could have the mini calendar without the full calendar?

Thank you!

[2020-02-14 08:16] chiragatlas opened #348 "Get clicked date in calander"
How can i display clicked date in template?

for example, if user click on 15th of feb, then I want to change date in template as well.
I am attaching a sample layout for that.

![image](https://user-images.githubusercontent.com/31877988/74513356-63d2b800-4f30-11ea-84f8-7e1e62aafd3f.png)

[2020-03-03 09:53] GeoSot opened #349 "Drop jQuery dependency"
Hello @kylestetz
This plugin have save my ass many times. THANK YOU :)

But as i have used it some times, I was wandering if it could be more independent.

Have you ever thought to drop jQuery dependency?
I had a quick view of the code, and I think it would be a great boost on your plugin and without a great effort.

As a second thought it would be also great if we could avoid the usage of moment.

[2020-03-05 00:30] kylestetz commented on #349
Hey @GeoSot — yes, the frontend landscape has changed quite a bit since this plugin was first created. We are keeping this project in maintenance mode as we don't have the time or interest in taking on a modern rewrite, but you are welcome to fork the repo, take a stab at it, and present the results in an issue here if you'd like.

Cheers 🍻

[2020-03-05 00:30] #349 closed

[2020-05-05 18:12] rk12129 opened #353 "How can I show current month in number?"
All examples in CLNDR give only the month name, I would like to show month number also in my mini calendar, how to do that? For example, I want to show like this on my calendar header, 5/6/2020

[2020-05-08 21:38] Smile-n-wave commented on #231
Would like to leave another solution if anybody comes across this problem.

In your Template File.
`<# _.each(data.eventsThisInterval, function (events) { #>`
    `<# if(moment(events.startDate).isSame( data.extras.selectedDate , 'date' ) ) {#>`
       `{{console.log(events.id)}}`
`<# } #>`
`<# }); #>`

and in your clndr instance

`  clickEvents: {`
                                `click: function

[2020-05-13 11:54] ligaA-Nick opened #354 "how can I stay the same month when returning back to this page"
i use function render: with data (contents object with days, daysOfTheWeek etc) and try to set this object in localStorage.
       All is fine when i return to page with calendar and get month with localStorage, but if u click to the next / prev month u will start from the current month (current is May right now), but in logic if i stay for example on december - next is janury (not May)

Maybe som

[2020-05-13 12:24] ligaA-Nick commented on #354
or how i can past object data from localSotrage in "render: function (data) "

[2020-05-14 07:26] #354 closed

[2020-05-14 07:28] ligaA-Nick commented on #354
On doneRendering use setButtonsState(with localStorage data or current month); And after change month use setMonth and setYear from localStorage.

[2020-06-28 14:28] nk9 commented on #335
Thanks a bunch to @JulianHodor for the idea. I've taken this approach, but I needed to have it work for both single-day and multi-day events. I used [moment-range](https://github.com/rotaready/moment-range#by) to iterate dates of multi-day events, although [it's possible to do it with vanilla moment](https://stackoverflow.com/a/59901201/1749551) as well. Here's the code I ended up with:

[code]

T

[2020-06-28 15:48] nk9 opened #356 "Usage docs should explain how to use eventsThisInterval"
If you have specified a 3-month `lengthOfTime`, the object your template gets from `eventsThisInterval` is an array of arrays. The [sample template code](https://kylestetz.github.io/CLNDR/) which iterates `eventsThisMonth` expecting to encounter events won't work; you have to nest a second `_.each()` inside the first to access the event objects.

[code]

And so your template needs to do:

[code]

[2020-06-28 20:10] nk9 commented on #356
I'd also point out that when you have a multi-day event which crosses a month boundary, the eventsThisInterval API returns it once for each month. While this does make sense, it's another thing to point out to users. And it would be nice to get some indication of this. If I only want a range event to show up once (say I'm showing a list of all the events in a given interval), the only way to ignor

[2021-12-25 09:00] Jamesdj12 opened #363 "hi If I wants to change the calendar start day order from Sunday to Monday how can I change it"
please guide me how can i change the Week Start day order from Sunday to Monday

[2021-12-25 09:01] Jamesdj12 commented on #363
please guide me how can i change the Week Start day order from Sunday to Monday

[2021-12-28 13:40] mikegioia commented on #363
Hi @Jamesdj12, what you're looking for is the config option `weekOffset` and you will want to set that to a value of `1`.

In the future, please read the README before opening a Github issue. This is for bug reports only. Stack Overflow will be a better and faster place to get answers to implementation questions.

[2021-12-28 13:40] #363 closed

[2022-10-25 15:46] ghost opened #368 "Improper translations with the localization features"
#### Context
I'm using the localization features in clndr.js to change the structure of the calendar into Portuguese (standard Portuguese, not the Brazillian variety).

Changing the moment.js locale to pt changed the language but it wasn't exactly a clean change: The week days were... not wrong, but in a format that is simply never used. I changed them with the built-in week day change feature in